<p-card>
  <p-table
    #overviewTable
    [value]="items"
    [(selection)]="selectedItems"
    selectionMode="multiple"
    dataKey="incidentId"
    [paginator]="true"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [rows]="rowsPerPageOptions[0]"
    sortMode="multiple">
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-1">
          <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
          <button
            pButton
            type="button"
            label="Delete"
            class="p-button-danger"
            icon="pi pi-trash"
            [disabled]="selectedItems.length === 0"
            (click)="deleteItems()">
          </button>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-9"></div>

            <div class="col-2 text-right">
              <p class="my-auto"> {{startDateTime |date:'MMM dd, yyyy, HH:mm:ss'}}
                <br>
                {{endDateTime | date:'MMM dd, yyyy, HH:mm:ss'}} </p>
            </div>
            <div class="col-1 text-center">
              <p-overlayPanel #op [dismissable]="false" [appendTo]="'body'">
                <ng-template pTemplate>
                  <elastic-custom-datepicker
                    (search)="onDateTimeSearch($event)">
                  </elastic-custom-datepicker>
                </ng-template>
              </p-overlayPanel>
              <button (click)="op.toggle($event)" pButton pRipple type="button"
                      icon="pi pi-calendar"
                      class="my-auto p-button-rounded"></button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3%;">
        </th>
        <th style="width: 3%;">
          <p-tableHeaderCheckbox name="incidents"></p-tableHeaderCheckbox>
        </th>
        <th style="width: 10%" [pSortableColumn]="'timestamp'">Date
          <p-sortIcon [field]="'timestamp'"></p-sortIcon>
        </th>
        <th style="width: 10%" [pSortableColumn]="'incidentId'">Incident ID
          <p-sortIcon [field]="'incidentId'"></p-sortIcon>
        </th>
        <th style="max-width: 25%;" [pSortableColumn]="'message'">Description
          <p-sortIcon [field]="'message'"></p-sortIcon>
        </th>
        <th style="width: 10%">Tags</th>
        <th style="width: 8%" [pSortableColumn]="'risk'">Risk
          <p-sortIcon [field]="'risk'"></p-sortIcon>
        </th>
        <th style="width: 11%" [pSortableColumn]="'severity'">Severity
          <p-sortIcon [field]="'severity'"></p-sortIcon>
        </th>
<!--        <th style="width: 7%" [pSortableColumn]="'countAddedState'">New states-->
<!--          <p-sortIcon [field]="'countAddedState'"></p-sortIcon>-->
<!--        </th>-->
        <th style="width: 10%" [pSortableColumn]="'status'">Status
          <p-sortIcon [field]="'status'"></p-sortIcon>
        </th>
        <th style="width: 10%" class="text-center"></th>
      </tr>
      <tr>
        <th style="width: 3%;">
        </th>
        <th style="width: 3%;">
        </th>
        <th style="width: 10%;">
        </th>
        <th style="width: 10%;">
        </th>
        <th style="width: 25%;">
          <input
            pInputText
            type="text"
            (input)="filterByMessage($event)"
            placeholder="Search"
            class="p-column-filter">
        </th>
        <th style="width: 10%;">
          <p-multiSelect placeholder="Filter" [options]="tagOptions" (onChange)="filterByTags($event)"
                         [filter]="true"></p-multiSelect>
        </th>
        <th class="text-center" style="width: 8%;">
          <p>{{riskSliderValues[0]}} to {{riskSliderValues[1]}}</p>
          <p-slider [ngModel]="riskSlider" [min]="0" max="100" [range]="true"
                    (onSlideEnd)="filterByRisk($event)"></p-slider>
        </th>
        <th style="width: 11%;">
          <p-dropdown
            [options]="severityOptions"
            (onChange)="filterBySeverity($event)"
            styleClass="p-column-filter"
            placeholder="Select"
            [showClear]="true">
            <ng-template let-option pTemplate="item">
              <span [class]="'severity-badge severity-' + option.label">{{option.label}}</span>
            </ng-template>
          </p-dropdown>
        </th>
        <th style="width: 10%;">
        </th>
        <th style="width: 10%;">
        </th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-expanded="expanded" let-item let-rowIndex>
      <tr>
        <td>
          <button type="button" pButton pRipple [pRowToggler]="item"
                  class="p-button-text p-button-rounded p-button-plain"
                  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td>
          <p-checkbox name="incidents" [value]="item" [(ngModel)]="selectedItems"></p-checkbox>
        </td>
        <td>{{item.timestamp | date: 'MMM dd, yyyy, HH:mm:ss'}}</td>
        <td><p pTooltip="{{item.incidentId}}" tooltipPosition="top">{{item.incidentId.slice(0, 7)}}</p></td>
        <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">{{item.message.template}}</td>
        <td>
          <nb-tag-list>
            <nb-tag *ngFor="let tagKey of item.tagKeys" [text]="tagKey"
                    appearance="outline"
                    status="primary" style="text-transform: none"></nb-tag>
          </nb-tag-list>
        </td>

        <td>
          {{ item.risk }} %
        </td>
        <td>
          <span [class]="'severity-badge severity-' + Severity[item.severity]">{{ Severity[item.severity] }}</span>
        </td>
<!--        <td>-->
<!--          {{ item.countAddedState }}-->
<!--        </td>-->
        <td>
          <p-dropdown
            [options]="statusOptions"
            [ngModel]="{ value: item.status }"
            (onChange)="statusChanged($event, item)"
            dataKey="value"
            optionLabel="label">
          </p-dropdown>
        </td>
        <td class="text-center">
          <button (click)="viewInsights(item.incidentId)" pButton type="button" label="View insights"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-item>
      <tr *ngIf="(item.incidents.length-1) > 0">
        <td colspan="10" style="padding: 0; margin: 0">
            <p-table  [value]="item.incidents.slice(1, item.incidents.length)"  dataKey="incidentId">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 3%;">
                  </th>
                  <th style="width: 3%;">
                  </th>
                  <th style="width: 10%" [pSortableColumn]="'timestamp'">
                  </th>
                  <th style="width: 10%" [pSortableColumn]="'incidentId'">
                  </th>
                  <th style="max-width: 25%;" [pSortableColumn]="'message'">
                  </th>
                  <th style="width: 10%"></th>
                  <th style="width: 8%" [pSortableColumn]="'risk'">
                  </th>
                  <th style="width: 11%" [pSortableColumn]="'severity'">
                  </th>
          <!--        <th style="width: 7%" [pSortableColumn]="'countAddedState'">-->
          <!--        </th>-->
                  <th style="width: 10%" [pSortableColumn]="'status'">
                  </th>
                  <th style="width: 10%" class="text-center"></th>
                </tr>
            </ng-template>

    <ng-template pTemplate="body" let-similar>
      <tr>
        <td></td>
        <td>
          <p-checkbox name="incidentsRowExpand" [value]="similar"  [(ngModel)]="selectedItemsExpandRow"></p-checkbox>
        </td>
        <td>{{similar.timestamp | date: 'MMM dd, yyyy, HH:mm:ss'}}</td>
        <td><p pTooltip="{{similar.incidentId}}" tooltipPosition="top">{{similar.incidentId.slice(0, 7)}}</p></td>
      <td style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">{{similar.message.template}}</td>
      <td>
        <nb-tag-list>
          <nb-tag *ngFor="let tagKey of similar.tagKeys" [text]="tagKey"
                  appearance="outline"
                  status="primary" style="text-transform: none"></nb-tag>
        </nb-tag-list>
      </td>

        <td>
          {{ similar.risk }} %
        </td>
        <td>
              <span
                [class]="'severity-badge severity-' + Severity[similar.severity]">{{ Severity[similar.severity] }}</span>
        </td>
<!--        <td>-->
<!--          {{ similar.countAddedState }}-->
<!--        </td>-->
        <td>
          <p-dropdown
            [options]="statusOptions"
            [ngModel]="{ value: similar.status }"
            (onChange)="statusChanged($event, similar)"
            dataKey="value"
            optionLabel="label">
          </p-dropdown>
        </td>
        <td class="text-center">
          <button (click)="viewInsights(similar.incidentId)" pButton type="button" label="View insights"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
    <hr style="height: 30px; background: #f8f9fa">
  </td>
  </tr>
  </ng-template>

  </p-table>
</p-card>


<!--<ng-template #dateTimePicker>-->
<!--  <elastic-custom-datepicker (savePredefinedTime)="onSavePredefinedTime($event)"-->
<!--                             (search)="onDateTimeSearch($event)">-->
<!--  </elastic-custom-datepicker>-->
<!--</ng-template>-->
