<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
<div class="container" data-aos="fade-up">

      <div class="row gx-0">

        <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up">
          <div class="content">
        <h1>Privacy Policy</h1>
        logsight.ai GmbH respects the right to privacy under Regulation (EU) 2016/679 General Data Protection Regulation (GDPR). Contact us at logsight.ai@gmail.com if you have any questions or problems regarding the use of your Personal Data and we will gladly assist you.
        By using this site or/and our services, you consent to the Processing of your Personal Data as described in this Privacy Policy.
    <br>
    <br>
    <h2>Definitions</h2>
    <br>
    1. Personal Data – any information relating to an identified or identifiable natural person.<br>
    2. Processing – any operation or set of operations which is performed on Personal Data or on sets of Personal Data.<br>
    3. Data subject – a natural person whose Personal Data is being Processed.<br>
    4. Child – a natural person under 16 years of age.<br>
    5. We/us – logsight.ai GmbH.
    <br>
    <br>
    <h2>Data Protection Principles</h2>
    <br>
    We promise to follow the following data protection principles:
    <br>
    <ul>
      <li>1. Processing is lawful, fair, transparent. Our Processing activities have lawful grounds. We always consider your rights before Processing Personal Data. We will provide you information regarding Processing upon request.</li>
      <li>2. Processing is limited to the purpose. Our Processing activities fit the purpose for which Personal Data was gathered.</li>
      <li>3. Processing is done with minimal data. We only gather and Process the minimal amount of Personal Data required for any purpose.</li>
      <li>4. Processing is limited with a time period. We will not store your personal data for longer than needed.</li>
      <li>5. We will do our best to ensure the accuracy of data.</li>
      <li>6. We will do our best to ensure the integrity and confidentiality of data.</li>
    </ul>
    <br>
    <h2>Data Subject’s rights</h2>
    <br>
    The Data Subject has the following rights:
    <br>
    <ul>
      <li>1. Right to information – meaning you have to right to know whether your Personal Data is being processed; what data is gathered, from where it is obtained and why and by whom it is processed.</li>
      <li>2. Right to access – meaning you have the right to access the data collected from/about you. This includes your right to request and obtain a copy of your Personal Data gathered.</li>
      <li>3. Right to rectification – meaning you have the right to request rectification or erasure of your Personal Data that is inaccurate or incomplete.</li>
      <li>4. Right to erasure – meaning in certain circumstances you can request for your Personal Data to be erased from our records.</li>
      <li>5. Right to restrict processing – meaning where certain conditions apply, you have the right to restrict the Processing of your Personal Data.</li>
      <li>6. Right to object to processing – meaning in certain cases you have the right to object to Processing of your Personal Data, for example in the case of direct marketing.</li>
      <li>7. Right to object to automated Processing – meaning you have the right to object to automated Processing, including profiling; and not to be subject to a decision based solely on automated Processing. This right you can exercise whenever there is an outcome of the profiling that produces legal effects concerning or significantly affecting you.</li>
      <li>8. Right to data portability – you have the right to obtain your Personal Data in a machine-readable format or if it is feasible, as a direct transfer from one Processor to another.</li>
      <li>9. Right to lodge a complaint – in the event that we refuse your request under the Rights of Access, we will provide you with a reason as to why. If you are not satisfied with the way your request has been handled please contact us.</li>
      <li>10. Right for the help of supervisory authority – meaning you have the right for the help of a supervisory authority and the right for other legal remedies such as claiming damages.</li>
      <li>11. Right to withdraw consent – you have the right withdraw any given consent for Processing of your Personal Data.</li>
      <br>
      <div>This does not include any data we are obliged to keep for administrative, legal, or security purposes.</div>
    </ul>
    <br>
    <h2>Data we gather</h2>
    <br>
    <h3>Information you have provided us with</h3>
    This might be your e-mail address, name, billing address, etc – mainly information that is necessary for delivering you a product/service or to enhance your customer experience with us. We save the information you provide us with in order for you to comment or perform other activities on the website. Specifically:
    <br>
    1. Emails by Registration. If you register, we collect your email address and use it only for you using logsight.ai.
    <br>
    <br>
    <h3>Information automatically collected about you</h3>
    This includes information that is automatically stored by cookies and other session tools. For example, your IP address. This information is used to improve your customer experience. When you use our services or look at the contents of our website, your activities may be logged.
    <br>
    <br>
    1. We use Google Analytics to measure traffic and track and record user behavior across our website. Data collected in this way is anonymized. Google has their own Privacy Policy. If you’d like to opt out of tracking by Google Analytics, visit the Google Analytics opt-out page.
    <br>
    <br>
    <h2> Who we share your personal data with</h2>
    <br>

      No one. From your personal data we only collect your email address when you register to logsight.ai.
      <br>
      We do however use third party services for data processing and, specifically:
      <br>
      1. Billing information when you subscribe to logsight.ai. We do not store this information. We utilize https://stripe.com/ as our payment service. Any billing/payment details are only stored at https://stripe.com/.
      <br>
      <br>
      We only work with Processing partners who are able to ensure adequate level of protection to your Personal Data. We disclose your Personal Data to third parties or public officials when we are legally obliged to do so. We might disclose your Personal Data to third parties if you have consented to it or if there are other legal grounds for it.
      <br>
    <br>
    <br>
    <h2>How we secure your data</h2>
    <br>
    We do our best to keep your Personal Data safe.  We use safe protocols for communication and transferring data (such as HTTPS). We use anonymising and pseudonymising where suitable. We monitor our systems for possible vulnerabilities and attacks.
      <br>
      <br>
      Even though we try our best we can not guarantee the security of information. However, we promise to notify suitable authorities of data breaches. We will also notify you if there is a threat to your rights or interests. We will do everything we reasonably can to prevent security breaches and to assist authorities should any breaches occur.
      <br>
      <br>
      If you have an account with us, note that you have to keep your username, password, and any sensitive keys/details secret.
      <br>
      <br>
    <h2>Children</h2>
    <br>
    We do not intend to collect or knowingly collect information from children. We do not target children with our services.
    <br>
    <br>
    <h2>Cookies and other technologies we use</h2>
    <br>
    Cookies are files with a small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer’s hard drive.<br>
    We use cookies in order to collect information and have basic functionality on the website. The cookies contain no personal data, but identify your computer and as such potentially can be used to identify you across other websites.<br>
    You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some functions of our site.<br>
    We use cookies for the following purposes: <br>
    Necessary cookies – these cookies are required for you to be able to use some important features on our website, such as logging in. These cookies don’t collect any personal information. <br>
    Functionality cookies – these cookies provide functionality that makes using our service more convenient and makes providing more personalised features possible. For example, they might remember your name and e-mail in comment forms so you don’t have to re-enter this information next time when visiting the website.
    You can remove cookies stored in your computer via your browser settings. Alternatively, you can control some 3rd party cookies by using a privacy enhancement platform such as optout.aboutads.info or youronlinechoices.com. For more information about cookies, visit allaboutcookies.org. For more information about the cookies on our website, see Cookie Policy.
    <br>
    <br>
    <h2>Embedded content from other websites</h2>
    <br>
    <div>
      Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website.
      <br>
      These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracing your interaction with the embedded content if you have an account and are logged in to that website.
    </div>
    <br>
    <br>
    <h2>Links to other websites</h2>
    <br>
      Our site may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party’s site. We strongly advise you to review the Privacy Policy of every site you visit.
      <br>
      We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.
    <br>
    <br>
    <h2>Changes to this Privacy Policy</h2>
    <br>
      We reserve the right to make change to this Privacy Policy.
      Last modification was made September 12, 2021.

          </div>
          </div>
        </div>
  </div>
  </section>
</main>
