<!--<div class="row" style="margin-left: 30%; margin-right: 30%;">-->


<!--  <nb-card class="p-3" style="width: 100%">-->
<!--    <div class="row">-->
<!--      <div class="col-md-6">-->
<!--        <h6 class="mb-3">Applications</h6>-->
<!--        <table class="table table-striped">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th scope="col">Id</th>-->
<!--            <th scope="col">Name</th>-->
<!--            <th scope="col">Status</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor="let row of applications">-->
<!--            <td>{{row.applicationId}}</td>-->
<!--            <td>{{row.name}}</td>-->
<!--            <td><i [title]="row.status" *ngIf="row.status == 'IN_PROGRESS'" class="ml-3 fas fa-spinner fa-spin"></i>-->
<!--              <i [title]="row.status" *ngIf="row.status == 'ACTIVE'" class="ml-3 fas fa-check-circle"></i>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nb-card>-->
<!--</div>-->


<div class="row" style="margin-left: 30%; margin-right: 30%;">
  <div class="col" >
    <ng-container *ngIf="uploadFile">
      <div class="row user_guidance">
        <!--      <nb-card class="p-2 rows" style="width: 100%">-->
        <div class="col-sm">
          <div class="row">
            <h4>Upload log files</h4>
          <p>We automatically parse log file formats. Select application and upload your application logs to get insights!</p>
            <br>
            </div>
        </div>
      </div>
      <br>
      <br>


      <nb-card style="padding:30px">
          <div class="row user_guidance">
          <div class="col-6 text-left">
            <p>Select existing application for file upload</p>
            <nb-select fullWidth class="period-select" [(selected)]="this.applicationId"
                       (selectedChange)="applicationSelected($event)"
                       placeholder="Select application">
              <nb-option *ngFor="let app of applications" [value]="app.applicationId" [nbSort]="app.name">
                <div class="col-9">{{ app.name }}</div>
                <div class="col-auto"><i (click)="removeApplication(app.applicationId)" [title]='"Delete application"'
                                   class="ml-3 fas  fa-trash pointer"></i></div>
              </nb-option>
            </nb-select>
          </div>


          <div class="col-6 text-right justify-content-center mt-3">
              <nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>
      Create new application
    </nb-accordion-item-header>
    <nb-accordion-item-body>
            <form class="col" [formGroup]="form" (submit)="createApplication()"
                  aria-labelledby="title">
              <div class="form-control-group">
                <div class="row justify-content-center">
                <input nbInput
                       type="text"
                       fullWidth
                       formControlName="name"
                       id="name"
                       placeholder="Enter application name"
                       [required]="true"
                       [attr.aria-invalid]="form.invalid && form.touched ? true : null">
                <ng-container *ngIf="form.controls['name'].invalid && form.touched">
                  <p class="error-message" *ngIf="form.controls['name'].errors?.required">
                    Application name is required!
                  </p>
                </ng-container>
              </div>
                <div *ngIf="!isSpinning" class="row justify-content-end">
                <button nbButton
                        fullWidth
                        class="mt-2"
                        status="success"
                        shape="round"
                        [disabled]="!form.valid">
                  Create
                </button>
                  </div>
                                  <div class="row justify-content-center mt-2">
          <div *ngIf="isSpinning" class="spinner-border text-primary" style="position: relative" role="status">
          </div>
            </div>
              </div>
            </form>
          </nb-accordion-item-body>
  </nb-accordion-item>
    </nb-accordion>
          </div>
            <div class="ml-3 mt-3"> Selected application:<b *ngIf="applicationName"> &nbsp;{{this.applicationName}}</b> <b *ngIf="!applicationName"> Application not selected</b></div>
        </div>

      </nb-card>


      <div *ngIf="applicationName!=null" class="row user_guidance">

        <div class="col-sm align-items-center" align="center">
          <nb-card style="padding:30px">
          <div class="form-group">
            <input nbInput size="giant" shape="round" fullWidth status="basic" type="file" id="file"
                         (change)="uploadFiles($event.target.files)">
          </div>
          <div *ngIf="!isSpinning">
          <button  [disabled]="applicationId == null" nbButton size="giant" style="text-transform: none" status="basic" shape="round" type="button"
                  (click)="requestUpload()">Upload logs
          </button>
            </div>
          <div class="row justify-content-center">
          <div *ngIf="isSpinning" class="spinner-border text-primary" style="position: relative" role="status">
          </div>
            </div>
            </nb-card>
        </div>

        <!--          <div class="row user_guidance">-->
        <!--            <div class="col">-->
        <!--              <div class="row">-->
        <!--                <h6>Integration help?</h6>-->
        <!--              </div>-->
        <!--              <div class="row">-->
        <!--                <p class="dscr">Please contact us, we are happy to assist you with the integration!</p>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->

      </div>


          <div class="row user_guidance pt-5">
        <div class="col">
          <div class="row">
            <h6>Need help?</h6>
          </div>
          <div class="row">
            <p class="dscr">Are you interested in more details about logsight.ai? Read the docs at
              <a href="https://docs.logsight.ai">Docs | logsight.ai </a>,
              or feel free to contact us 24/7 via <a href="mailto:support@logsight.ai">E-Mail</a>
              or <a target="_blank" href="https://tawk.to/chat/61824e206bb0760a4940e874/1fjig2bmu">Live Chat</a>.</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>


  <!--  <div class="col" style="margin-left: 50px">-->
  <!--  <ng-container *ngIf="uploadFile">-->
  <!--      <h6>Upload log file</h6>-->

  <!--  </ng-container>-->

  <!--  </div>-->
</div>


