::ng-deep .nb-theme-dark nb-card-header { display: none !important; }
//::ng-deep .nb-theme-dark nb-layout .layout{
//  background-color: white !important;
//}
//
//::ng-deep .nb-theme-dark nb-card-body
//{
//  background-color: #ffffff !important;
//
//}
//
//::ng-deep .nb-theme-dark nb-card {
//  border: 0.0625rem solid white !important;
//}

::ng-deep .nb-theme-dark [nbButton].appearance-filled.status-info, .nb-theme-dark .appearance-filled.status-info[nbButtonToggle]{
  background-color: #4154f1 !important;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}
