<div id="chart-parent">
  <ngx-charts-area-chart-stacked
    [scheme]="colorScheme"
    [legend]="false"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [showGridLines]="false"
    [xAxis]="true"
    [yAxis]="false"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="data"
    (select)="onSelect($event)"
    [curve]="linearCurve"
    [xAxisTickFormatting]='dateTickFormatting'
    style="fill: white">
  </ngx-charts-area-chart-stacked>
</div>
