<div class="col text-center align-items-center">
<div class="logo align-items-center" style="margin-right: 3%">
<a class="navbar-brand title" href="#"><img alt="logo" src="assets/img/logol.png" height="60" /></a>
</div>
</div>
<div *ngIf="!formSubmitted" style="color: #013b54; font-size: 18px; font-weight: 600;">Get started for free, up to 1 GB data</div>
<br>

<!--<div class="col text-center align-items-center">-->
<!--<div  class="text-center text-lg-start" style="margin-top: 2rem;">-->
              <form *ngIf="!formSubmitted" id="chimp-form" [formGroup]="form" (submit)="onSignUp()" class="subscribe-form wow zoomIn"
            accept-charset="UTF-8"
            enctype="application/x-www-form-urlencoded" autocomplete="off" novalidate>
        <div class="form-control-group">
            <input fullWidth formControlName="email" class="form-control" id="chimp-email" type="email" name="email"
                       placeholder="Enter your email"
                       autocomplete="off" style="width: 100%; height: 3.5rem">

            <ng-container *ngIf="form.controls['email'].invalid && form.touched">
<!--                <p style="color: black" class="error-message" *ngIf="form.controls['email'].errors?.required">-->
<!--                  Email is required!-->
<!--                </p>-->
                <p style="color: black" class="error-message" *ngIf="form.controls['email'].errors?.pattern">
                  Email is invalid!
                </p>
            </ng-container>
          <br>


          <input fullWidth formControlName="password" class="form-control" id="chimp-password" type="password" name="password"
                       placeholder="Enter your password"
                       autocomplete="off" style="width: 100%; height: 3.5rem">
            <ng-container *ngIf="form.controls['password'].invalid && form.touched">
<!--                <p style="color: black" class="error-message" *ngIf="form.controls['password'].errors?.required">-->
<!--                  Password is required!-->
<!--                </p>-->
                <p style="color: black" class="error-message" *ngIf="form.controls['password'].errors?.minlength">
                  The minimum size of the password is 8 characters!
                </p>
            </ng-container>

<br>
         <input fullWidth formControlName="retryPassword" class="form-control" id="chimp-retrypassword" type="password" name="retryPassword"
                       placeholder="Repeat password"
                       autocomplete="off" style="width: 100%; height: 3.5rem">
            <ng-container *ngIf="form.controls['password'].invalid && form.touched">
<!--                <p style="color: black" class="error-message" *ngIf="form.controls['retryPassword'].errors?.required">-->
<!--                  Password is required!-->
<!--                </p>-->
                <p style="color: black" class="error-message" *ngIf="form.controls['retryPassword'].errors?.minlength">
                  The minimum size of the password is 8 characters! Make sure the passwords match!
                </p>
            </ng-container>
<br>
          <br>
          <div *ngIf="isSpinning" class="spinner-border text-primary" style="left: 50%; position: relative" role="status">
          </div>
          <input *ngIf="!isSpinning" [disabled]="!form.valid" style="text-transform: none; background-color: #4154f1; width: 100%; height: 3.5rem" class="btn btn-primary mb-0"
                                                  type="submit"
                 value="Sign up">

        </div>
      </form>
  <section *ngIf="!formSubmitted" style="color: #013b54;" class="another-action" aria-label="Login">
  Already have an account? <a class="text-link" routerLink="/auth/login">Login</a>
</section>
<!--</div>-->
<div *ngIf="formSubmitted" style="margin-top: 1rem">
  <p style="color: #013b54; font-size: 18px; font-weight: 600">We have sent you an activation email. Please check and activate.</p>
</div>
<!--</div>-->
