.search-button {
  margin-top: 27px;
  height: 39px
}

.pointer:hover {
  cursor: pointer;
  opacity: .7;
}

.font-size-c {
  font-size: 14px;
}

.chips {
  background-color: gray;
  border-radius: 5px;
  padding: 5px;
  margin-right: 8px;
}
