<nb-card class="model-full">
  <nb-card-body style="display: grid;">
    <line-chart *ngIf="type == 'LineChart'" [data]="data"></line-chart>
    <grouped-vertical-bar-chart *ngIf="type == 'GroupedVertical'" [data]="data"></grouped-vertical-bar-chart>
  </nb-card-body>
  <nb-card-footer class="text-right">
    <button nbButton (click)="dismiss()" size="medium" status="basic" shape="round" style="text-transform: none"> Close </button>
<!--    <button nbButton status="primary" (click)="dismiss()">Close</button>-->
  </nb-card-footer>
</nb-card>
