<div class="row" style="width: 100%">
  <nb-card class="p-3" style="width: 100%">
    <div class="row">
      <div class="col-md-12">
        <h5 class="mb-3">Application</h5>
        <nb-select class="period-select col-md-4 pl-3" (selectedChange)="applicationSelected($event)"
                   placeholder="Select application">
          <nb-option *ngFor="let app of applications" [value]="app.id">
            {{ app.name }}
          </nb-option>
        </nb-select>
      </div>
    </div>
  </nb-card>
  <nb-card class="p-3" style="width: 100%">
    <div class="row">
      <div class="col-md-12">
        <h5 class="mb-3">Data</h5>
        <form [formGroup]="filterForm" class="filter-form">
          <div class="form-group col-md-3">
            <input class="form-control" type="text" id="search"
                   placeholder="Search"
                   formControlName="search"/>
          </div>
        </form>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Result</th>
            <th scope="col">Params</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of variableAnalysisHits">
            <td [innerHTML]="row.result"></td>
            <td>{{row.params | json}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card>
</div>
