<div class="row" style="width: 100%; padding-left: 5%; padding-right: 5%">
  <div class="p-3" style="width: 100%">
    <div class="row">
      <div class="col-md-6">
        <h5 style="font-weight: 600">Application</h5>
        <nb-select class="period-select col-md-4 pl-3" [(selected)]="this.selectedApplicationId"
                   (selectedChange)="applicationSelected($event)"
                   placeholder="Select application">
          <nb-option *ngFor="let app of applications" [value]="app.id">
            {{ app.name }}
          </nb-option>
        </nb-select>
      </div>
      <div class="col-md-6 text-right">
        <div style="width: 100%;" class="text-right">
          <button title="Select Date Range" [nbPopover]="dateTimePicker" nbPopoverPlacement="bottom" nbButton
                  (click)="openPopover()"
                  nbPopoverTrigger="noop"><i class="fa fa-calendar"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="p-3" style="width: 100%" *ngIf="selectedApplicationId && logCountLineChart.length > 0">
    <h5 style="font-weight: 600">Log Count</h5>
    <stacked-area-chart [data]="logCountLineChart"></stacked-area-chart>
  </div>

  <div *ngIf="topNTemplatesNow || topNTemplatesOlder" class="p-3" style="width: 100%">
    <h5 style="font-weight: 600">Top reoccuring log types</h5>
    <nb-card>
      <hr noshade="true">
      <div class="row">
        <!--      <div class="col-md-6">-->
        <!--        <p class="font-weight-bold">Top 5 templates between Last 2 Hours and Last Hour</p>-->
        <!--        <table class="table table-striped">-->
        <!--          <thead>-->
        <!--          <tr>-->
        <!--            <th style="width: 70%">Template</th>-->
        <!--            <th style="width: 15%" scope="col">Count</th>-->
        <!--            <th style="width: 15%"></th>-->
        <!--          </tr>-->
        <!--          </thead>-->
        <!--          <tbody>-->
        <!--          <tr *ngFor="let row of topNTemplatesOlder">-->
        <!--            <td>-->
        <!--              {{row.template}}-->
        <!--            </td>-->
        <!--            <td>-->
        <!--              {{row.count}}-->
        <!--            </td>-->
        <!--            <td>-->
        <!--            </td>-->
        <!--          </tr>-->
        <!--          </tbody>-->
        <!--        </table>-->
        <!--      </div>-->
        <div class="col">

          <table class="table table-striped table-borderless">
            <thead>
            <tr>
              <th style="width: 20%">Ratio</th>
              <th style="width: 60%">Log type</th>
              <th style="width: 20%">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of templatesRowMerged">
              <td style="padding-right: 0px">
                <ngx-charts-bar-horizontal style="fill: white" [showDataLabel]="true" [yAxis]="true" [roundEdges]="false" [view]="[300,100]" [results]="[{'name':'Current', 'value':row.new.count}, {'name':'Previous', 'value':row.old.count}]"></ngx-charts-bar-horizontal>
              </td>
              <td style="padding-right: 10%; padding-top: 20px">
                {{row.new.template}}
              </td>

              <td *ngIf="row.new.percentage < 10 " style="padding-right: 10%; padding-top: 20px">
              Stable behaviour
              </td>

              <td *ngIf="row.new.percentage > 10 && row.new.count > row.old.count" style="padding-right: 10%; padding-top: 20px">
                {{row.new.percentage}}% above normal
              </td>

              <td *ngIf="row.new.percentage > 10 && row.new.count < row.old.count" style="padding-right: 10%; padding-top: 20px">
                {{row.new.percentage}}% below normal
              </td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </nb-card>
  </div>

  <div *ngIf="selectedApplicationId" class="p-3" style="width: 100%">
    <h5 style="font-weight: 600">Logs </h5>
    <nb-card>
      <hr noshade="true">
      <div class="row">
        <div class="col-md-12">

          <form [formGroup]="filterForm" class="filter-form">
            <div style="padding-left: 1%; padding-right: 1%" class="form-group">
              <input class="form-control" type="text" id="search"
                     placeholder="Search"
                     formControlName="search"/>
            </div>
          </form>
          <div class="table-height">
            <table class="table table-striped table-borderless" *ngIf="!allTemplatesLoading">
              <thead>
              <tr>
                <th style="width: 10%" scope="col">Timestamp</th>
                <th style="width: 5%" scope="col">Level</th>
                <th style="width: 90%" scope="col">Log message</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of variableAnalysisHits">
                <td>{{row.timestamp}}</td>
                <td>
                <span [class.error]="row.actualLevel == 'ERROR'"
                      [class.info]="row.actualLevel == 'INFO'"
                      class="mr-2">{{row.actualLevel}}</span>
                </td>
                <td>
                  <app-ad-banner [row]="row"></app-ad-banner>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <loading *ngIf="allTemplatesLoading" [height]="500"></loading>
        </div>
      </div>
    </nb-card>
  </div>
</div>

<ng-template #dateTimePicker>
  <elastic-custom-datepicker (search)="onDateTimeSearch($event)"></elastic-custom-datepicker>
</ng-template>
