::ng-deep{
  /* Makes the chart container expand to the full width of the parent container*/
  .ngx-charts-outer {
    width: 100% !important;
  }

  /* Sets the legend width to auto expand to fit labels, but caps at 200px */
  //.chart-legend > div {
  //  width: auto !important;
  //  max-width: 200px;
  //}

  /* Some extra space is needed to offset the way the labels display */
  .legend-labels {
    width: calc(100% + 10px) !important;
  }

  /* Wrap the label text if it ends up being longer than the max width */
  .legend-label-text {
    white-space: normal !important;
    width: 100% !important;
  }
  .active {
    .legend-label-text {
      color: #fff !important;
    }
  }
}

ng-scrollbar {
  --scrollbar-thumb-color: rgb(255 255 255 / 60%) !important;
  --scrollbar-border-radius: 5px;
  --scrollbar-padding: 0px !important;
  --scroll-view-margin: 0 !important;
  --scrollbar-track-color: #c13f3f00;
  --scrollbar-size: 10px !important;
}


.semantics {
    text-align: center;
    font-family: "DecimaMonoPro", monospace;
    font-size: 13px;
}

th, td {
  font-weight: 600;
  font-size: 14px;
}

th {
  overflow-x: hidden;
}

.scrollable {
  max-height: 400px;
  overflow-y: auto;
}

.nv-x .tick line {
  display: none;
}

.template {
  color: red;
}

.template:hover {
  cursor: pointer;
  opacity: .7;
}

table {
  table-layout: fixed;
  width: 100%;
}
//
//.table-height {
//  max-height: 80vh;
//  overflow-y: auto
//}

.error {
  color: red !important;
  font-weight: 600;
}
.severe {
  color: #ff0000 !important;
  font-weight: 600;
}

.info {
  color: #00b0e8 !important;
  font-weight: 600;
}


.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}


.reading-block {
  font-size: 30px !important;
}

.trend {
    text-align: left;
}

.level {
    font-size: 13px;
    text-align: left;
    font-family: "DecimaMonoPro", monospace;
    text-transform: uppercase;
}

.coverage_signal {
    height: 18px;
    margin: 0;
    padding: 0;
    display: table;
    float: left;
    box-sizing: content-box;
}

.coverage_bar {
    padding: 0;
    display: inline-block;
    box-sizing: content-box;
}


.card-description {
  flex-direction: row;
}
.card-description img {
  width: 20%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}


.font-large-2{
  font-size: xxx-large;
}
