::ng-deep{
  /* Makes the chart container expand to the full width of the parent container*/
  .ngx-charts-outer {
    width: 100% !important;
  }

  /* Sets the legend width to auto expand to fit labels, but caps at 200px */
  //.chart-legend > div {
  //  width: auto !important;
  //  max-width: 200px;
  //}

  /* Some extra space is needed to offset the way the labels display */
  .legend-labels {
    width: calc(100% + 10px) !important;
  }

  /* Wrap the label text if it ends up being longer than the max width */
  .legend-label-text {
    white-space: normal !important;
    width: 100% !important;
  }
  .active {
    .legend-label-text {
      color: #fff !important;
    }
  }
}


th, td {
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.scrollable {
  max-height: 400px;
  overflow-y: auto;
}

.nv-x .tick line {
  display: none;
}

.template {
  color: red;
}

.template:hover {
  cursor: pointer;
  opacity: .7;
}

table {
  table-layout: fixed;
  width: 100%;
}

.table-height {
  max-height: 80vh;
  overflow-y: auto
}

.error {
  color: red !important;
  font-weight: 600;
}
.severe {
  color: #ff0000 !important;
  font-weight: 600;
}

.info {
  color: #00b0e8 !important;
  font-weight: 600;
}


.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}


.reading-block {
  font-size: 30px !important;
}


