<p-card header="Create verification" tourAnchor="compareVerify">
  <div class="row">
    <div class="col-5 border-right">
      <tag-control [tagType]="baselineTagType" [tagMap]="baselineTagMap"></tag-control>
    </div>

    <div class="col-5 border-right">
      <tag-control [tagType]="candidateTagType" [tagMap]="candidateTagMap"></tag-control>
    </div>

    <div class="col-2 text-center">
      <div class="row">
        <div class="col">
          &nbsp;
        </div>
      </div>
      <div class="row">
        <div class="col pt-2">
          <button pTooltip="Verifies the candidate logs against the baseline. It may take up to few seconds to execute until the results are observable." class="p-button-lg" label="Create" (click)="createVerification()" pButton [loading]="isLoading" style="text-transform: none;"
                  type="button">
          </button>
        </div>
      </div>
    </div>
  </div>
</p-card>
<div class="pt-5"></div>
