<div class="row" style="width: 100%; padding-right: 5%; padding-left: 5%">

  <div class="col-md-3" tourAnchor="anchorApplications">

    <div class="row user_info">
      <!--      <nb-card class="p-3 row-one">-->
      <div class="col">
        <h5><b>User info</b></h5>
      </div>
      <div class="row no-gutters p-3 row-one">
        <div class="col" align="center">
          <p class="mb-3">Username:</p>
          <p class="mb-3"><b>{{email}}</b></p>
          <p class="mb-3">PRIVATE_KEY:</p>
          <p class="mb-3"><b>{{key}}</b></p>
        </div>
      </div>
      <!--        <div class="row">-->
      <!--          <div class="col" style="margin-left: 20px">-->
      <!--            <p class="key_text"><b>{{key}}</b></p>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </nb-card>-->
    </div>
    <nb-card>
      <nb-card-header>Select billing plan</nb-card-header>
      <nb-card-body  align="center">

        <div><p>Quantity in GB per month.</p> <p>Every GB costs 2 Euro</p></div>

        <button nbButton shape="round" (click)="minus()" ><i class="fa fa-minus"></i> </button>
        <input nbInput  style="width: 60%" type="text" [value]="quantity">
        <button nbButton shape="round" (click)="plus()"><i class="fa fa-plus"></i> </button>
        <p>Total cost per month: {{quantity * 2}}.00 Euro</p>
        <button nbButton style="width: 90%;" shape="round" (click)="stripeCLick()">SUBSCRIBE</button>
<!--        <button nbButton style="width: 90%;" shape="round" (click)="stripeCustomerPortal()">Customer portal</button>-->
      </nb-card-body>

    </nb-card>
    <div class="row integration_types">
      <nb-card class="p-3 row-one">
        <div class="row no-gutters">
          <div class="col">
            <h5><b>Integration types</b></h5>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class=".col-6 .col-md-4">
            <button nbButton shape="round" class="python-btn" type="button" (click)="onPythonBtn()">
              {{pythonBtn}}
            </button>
          </div>
          <div class=".col-6 .col-md-4">
            <button nbButton shape="round" class="filebeat-btn" type="button" (click)="onFileBeatBtn()">
              {{filebeatBtn}}
            </button>
          </div>
          <div class=".col-6 .col-md-4">
            <button nbButton shape="round" class="rest-btn" type="button" (click)="onRestBtn()">
              {{restBtn}}
            </button>
          </div>
        </div>
      </nb-card>
    </div>

    <div class="row create_new_app">
      <nb-card class="p-3 row-one">
        <div class="row no-gutters">
          <div class="col">
            <h5 class="mb-3">Create application</h5>
          </div>
        </div>
        <div class="row p-3">
          <div class="col" style="margin-bottom: 3px">
            <form [formGroup]="form" (submit)="createApplication()" aria-labelledby="title">
              <div class="row">
                <div class="col-lg-12 col-xl-8" style="margin-top: 3px">
                  <input nbInput class="mr-2" type="text" formControlName="name" id="name"
                         placeholder="Application name" [required]="true"
                         [attr.aria-invalid]="form.invalid && form.touched ? true : null">
                  <ng-container *ngIf="form.controls['name'].invalid && form.touched">
                    <p class="error-message" *ngIf="form.controls['email'].errors?.required">
                      Application name is required!
                    </p>
                  </ng-container>
                </div>
                <div class="col-lg-12 col-xl-4">
                  <button nbButton class="create-app-btn" status="success" [disabled]="!form.valid">Create</button>
                </div>
              </div>
            </form>
          </div>
          <table class="mt-3 table table-striped table-borderless" *ngIf="applications.length > 0">
            <thead>
            <tr>
              <th style="width: 15%">Id</th>
              <th style="width: 80%">Name</th>
              <th style="width: 10%"></th>
              <!--              <th scope="col">Status</th>-->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of applications">
              <td>{{row.id}}</td>
              <td>{{row.name}}</td>
              <td><i (click)="removeApplication(row.id)" [title]='"Delete application"'
                     class="ml-3 fas fa-trash pointer"></i></td>

              <!--              <td>-->
              <!--                <i [title]="row.status" *ngIf="row.status == 'IN_PROGRESS'" class="ml-3 fas fa-spinner fa-spin"></i>-->
              <!--                <i [title]="row.status" *ngIf="row.status == 'ACTIVE'" class="ml-3 fas fa-check-circle"></i>-->
              <!--              </td>-->
            </tr>
            </tbody>
          </table>
          <div class="text-center">
            <p class="mt-3" *ngIf="applications.length == 0"><i>No current applications</i></p>
          </div>
        </div>
      </nb-card>
    </div>
  </div>

  <div class="col-5 px-4">
    <ng-container *ngIf="python">
      <div class="row description">
        <!--      <nb-card class="p-2 rows" style="width: 100%">-->
        <div class="col">
          <div class="row">
            <h5>Usage</h5>
          </div>
          <div class="row">
            <p class="dscr">To start sending logs from a Python script you need to install the Logsight Python-SDK:</p>
            <pre><code
              style="color: white">pip install git+ssh://git@github.com/aiops/logsight-python-sdk.git</code></pre>
          </div>
        </div>
        <!--        </nb-card>-->
      </div>
      <br>
      <div class="row user_guidance">
        <div class="col">
          <div class="row">
            <h5>Endpoint details</h5>
          </div>
          <div class="row">
            <p class="dscr">To use the Logsight Python-SDK in your Python code, you need to initialize the logger with
              the following attributes: </p>
            <table class="table table-striped table-borderless">
              <tr>
                <th>PRIVATE_KEY</th>
                <td>A private key which is used to validate your authenticity.</td>
              </tr>
              <tr>
                <th>APP_NAME</th>
                <td>The name of your application/service. For example, a company "x" wants to debug their test
                  environment they might insert the “x_test”
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="row user_guidance">
        <div class="col">
          <div class="row">
            <h5>Integration help?</h5>
          </div>
          <div class="row">
            <p class="dscr">Please contact us, we are happy to assist you with the integration!</p>
          </div>
        </div>
      </div>

    </ng-container>


    <ng-container *ngIf="fileBeats">
      <div class="row description">
        <!--      <nb-card class="p-2 rows" style="width: 100%">-->
        <div class="col">
          <div class="row">
            <h5>Usage</h5>
          </div>
          <div class="row">
            <p class="dscr">Logsight provides integration with Filebeat</p>
          </div>
        </div>
        <!--        </nb-card>-->
      </div>
      <br>
      <br>
      <div class="row user_guidance">
        <div class="col">
          <div class="row">
            <h5>Endpoint details</h5>
          </div>
          <div class="row">
            <p class="dscr">To use the Logsight Python-SDK in your Python code, you need to initialize the logger with
              the following attributes: </p>
            <table class="table table-borderless">
              <tr>
                <th>PRIVATE_KEY</th>
                <td>A private key which is used to validate your authenticity.</td>
              </tr>
              <tr>
                <th>APP_NAME</th>
                <td>The name of your application/service. For example, a company "x" wants to debug their test
                  environment they might insert the “x_test”
                </td>
              </tr>
            </table>
          </div>

          <div class="row">
            <h5>Prerequisites</h5>
            <p>Have Filebeat installed, for more information on how to install: <a
              href="Have Filebeat installed, for more information on how to install: https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-installation.html">https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-installation.html</a>
            </p>
          </div>

          <div class="row">
            <h5>Configuration</h5>
            <div class="row">
              <table class="table table-borderless">
                <tr>
                  <td>
                    Open your Filebeat configuration file and configure it to use Logstash (Make sure you disable
                    Elastic output).
                  </td>
                </tr>
                <tr>
                  <td>
                    For more information about configuring Filebeat to use Logstash please refer to:
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="https://www.elastic.co/guide/en/beats/filebeat/current/config-filebeat-logstash.html">https://www.elastic.co/guide/en/beats/filebeat/current/config-filebeat-logstash.html</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    Point your Filebeat to output to Coralogix Logstash server: logsight.ai:12350
                  </td>
                </tr>
                <tr>
                  <td>
                    For more information about configuring Filebeat to use Logstash please refer to:
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="row user_guidance">
            <div class="col">
              <div class="row">
                <h5>Integration help?</h5>
              </div>
              <div class="row">
                <p class="dscr">Please contact us, we are happy to assist you with the integration!</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="rest">
      <div class="row description">
        <!--      <nb-card class="p-2 rows" style="width: 100%">-->
        <div class="col">
          <div class="row">
            <h5>Usage</h5>
          </div>
          <div class="row">
            <p class="dscr">Logsight exposes an API that allows you to send your logs from anywhere, here is how:</p>
          </div>
        </div>
        <!--        </nb-card>-->
      </div>
      <br>
      <br>
      <div class="row user_guidance">
        <div class="col">
          <div class="row">
            <h5>Endpoint details</h5>
          </div>
          <div class="row">
            <table class="table table-borderless">
              <tr>
                <th>URL</th>
                <td>https://logsight.ai/api_v1/data</td>
              </tr>
              <tr>
                <th>HTTP method</th>
                <td>POST</td>
              </tr>
              <tr>
                <th>Content type</th>
                <td>application/json</td>
              </tr>
            </table>
          </div>

          <div class="row">
            <h5>POST BODY</h5>
          </div>
          <div class="row">
            <table class="table table-borderless">
              <tr>
                <th>private-key</th>
                <td>{{key}} (your private key)</td>
              </tr>
              <tr>
                <th>app</th>
                <td>string, name of the application you have created)</td>
              </tr>
              <tr>
                <th>message</th>
                <td>string, the content of the log message</td>
              </tr>
              <tr>
                <th>level</th>
                <td>string, the log level</td>
              </tr>
              <tr>
                <th>Other fields</th>
                <td>Related to the log message</td>
              </tr>
            </table>
          </div>

          <div class="row user_guidance">
            <div class="col">
              <div class="row">
                <h5>Integration help?</h5>
              </div>
              <div class="row">
                <p class="dscr">Please contact us, we are happy to assist you with the integration!</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="python">
    <div class="col-4 px-3">
      <h5>Example code</h5>
      <div>
        <pre><code style="background-color: transparent" [highlight]="code_python" (highlighted)="onHighlight($event)"
                   [lineNumbers]="true"></code></pre>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="fileBeats">
    <div class="col-4 px-3 ">
      <h5>Example code</h5>
      <div>
        <pre><code style="background-color: transparent" [highlight]="code_filebeats"
                   (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="rest">
    <div class="col-4 px-3 ">
      <h5>Example code</h5>
      <div>
        <pre><code style="background-color: transparent" [highlight]="code_rest" (highlighted)="onHighlight($event)"
                   [lineNumbers]="true"></code></pre>
      </div>
    </div>
  </ng-container>
</div>


<!--<div class="row" style="width: 100%">-->
<!--  <nb-card class="p-3" style="width: 100%">-->
<!--    <div class="row">-->
<!--      <div class="col-md-8">-->
<!--        <h5 class="mb-3">Create new application</h5>-->
<!--        <form class="col-lg-6 col-lg-8 col-sm-12 pl-0" [formGroup]="form" (submit)="createApplication()"-->
<!--              aria-labelledby="title">-->
<!--          <div class="form-control-group">-->
<!--            <label class="label mr-2" for="name">Application name:</label>-->
<!--            <input nbInput class="mr-3"-->
<!--                   type="text"-->
<!--                   formControlName="name"-->
<!--                   id="name"-->
<!--                   placeholder="Application name"-->
<!--                   [required]="true"-->
<!--                   [attr.aria-invalid]="form.invalid && form.touched ? true : null">-->
<!--            <ng-container *ngIf="form.controls['name'].invalid && form.touched">-->
<!--              <p class="error-message" *ngIf="form.controls['email'].errors?.required">-->
<!--                Application name is required!-->
<!--              </p>-->
<!--            </ng-container>-->

<!--            <button nbButton style="margin-bottom: 3px"-->
<!--                    status="success"-->
<!--                    [disabled]="!form.valid">-->
<!--              Create-->
<!--            </button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <p class="mb-3 text-right">Your key is: <b>{{key}}</b></p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nb-card>-->
<!--  <nb-card class="p-3" style="width: 100%">-->
<!--    <div class="row">-->
<!--      <div class="col-md-6">-->
<!--        <h5 class="mb-3">Applications</h5>-->
<!--        <table class="table table-striped">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th scope="col">Id</th>-->
<!--            <th scope="col">Name</th>-->
<!--            <th scope="col">Status</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor="let row of applications">-->
<!--            <td>{{row.id}}</td>-->
<!--            <td>{{row.name}}</td>-->
<!--            <td><i [title]="row.status" *ngIf="row.status == 'IN_PROGRESS'" class="ml-3 fas fa-spinner fa-spin"></i>-->
<!--              <i [title]="row.status" *ngIf="row.status == 'ACTIVE'" class="ml-3 fas fa-check-circle"></i>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nb-card>-->
<!--</div>-->
