<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Impressum</title>
  <link rel="icon" href="assets/icons/favicon.png" type="image/png" sizes="16x16">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Array Multipurpose Startup Business Template">
  <meta name="keywords" content="Array HTML Template, Array Startup Business Template, Startup Template">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/a11y-light.min.css" integrity="sha512-PW96n2amVglidqEDLPUdjJ0zByhT20poSqWJYZRutR6CP2QH58k96WmorqNnC4QXnosNeqMJM8FR/93isIifDQ==" crossorigin="anonymous" />
</head>

<body>

<header class="animated fadeInDown" id="navbar">
  <section class="web_homePage" (scroll)="onWindowScroll($event);">
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <div class="container-fluid container-new">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img alt="logo" src="../../../../assets/images/logsight_logo.png" height="60" /></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto navbar-right">
            <li class="nav-item" (click)="redirectToHomepage()"><a class="btn-login nav-link js-scroll-trigger">Homepage</a></li>
            <li class="nav-item" (click)="redirectToLogin()"><a class="btn-login nav-link js-scroll-trigger">Login</a></li>
          </ul>
        </div>
      </div>
    </nav> <!-- Navbar End -->
  </section>
</header>
<section class = "banner"></section>

<div id="main" class="main">
  <div class="cta-sm">
    <div class="container-s text-center">
      <div class="imprint">
        <h1>Imprint/Impressum</h1>
      </div>
      <div class="col-md-auto">
        <div class="row justify-content-start">
          <p> Street number, ZipCode Berlin, Germany</p>
        </div>
        <br>
        <div class="row justify-content-start">
          <p>VAT-ID / USt-IdNr: DEXXXXXXXXX</p>
        </div>
        <br>
        <div class="row justify-content-start">
          <p>E-Mail: logsight.ai@gmail.com </p>
        </div>
        <br>
        <div class="row justify-content-start">
          <p>Managing Director / Geschäftsführer: CEOs NAME SURNAME</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Default form contact -->
  <div id="form-Contact us" class="features wow fadeInDown" style="background-color: #f6f6fd">
    <div class="container-m">
      <div class="row text-center">
        <div class="col-sm">
          <div class="feature-list">
              <div class="card-text">
                <div class="contact-us">
                <div class="text-center">
                    <br>
                    <h1>Contact us</h1>
                    <br>
                  </div>
                </div>

                <form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                  <div class="row justify-content-center">
                    <div class="col-sm formInputField">
                      <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput class="form-control md-4" placeholder="E-mail">
                    </div>
                    <div class="col-sm formInputField">
                      <input type="email" formControlName="contactFormSubject" id="defaultContactFormSubject" mdbInput class="form-control md-4" placeholder="Subject">
                    </div>
                  </div>

                  <div class="row justify-content-center">
                    <div class="col-sm formInputField">
                      <textarea formControlName="contactFormMessage" class="form-control rounded-10" mdbInput id="FormControlTextarea2" rows="3" placeholder="Message"></textarea>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-1">
                      <input class="send-button" [disabled]="disabledSubmitButton" type="submit" value="Send">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- Default form contact -->
</div>

<div class="footer-sm">
  <div class="container-s">
    <div class="row text-center align-items-center justify-content-center">
      <div class="col-auto">
        <table class="footer-follow">
          <tr>
            <td>© logsight.ai 2021</td>
          </tr>
        </table>
      </div>
      <div class="col-auto">
        <table class="footer-follow">
          <!--            <tr>-->
          <!--              <th  colspan="4">Follow us</th>-->
          <!--            </tr>-->
          <tr>
            <td><a href="https://twitter.com/logsight"><img src="assets/icons/twitter.png" width="40" height="40" alt="Icon"></a></td>
            <td><a href="www.linkedin.com"><img src="assets/icons/linkedin.png" width="40" height="40" alt="Icon"></a></td>
            <td><a href="www.facebook.com"><img src="assets/icons/fb.png" width="40" height="40"alt="Icon"></a></td>
            <td><a href="https://www.youtube.com/channel/UCt9NrwO9s4jPEwGf_YO6yzg"><img src="assets/icons/youtube.png" width="40" height="40" alt="Icon"></a></td>
        </table>
      </div>
    </div>
    <div class="row text-center align-items-center justify-content-center">
      <div class="col-auto">
        <table class="footer-follow">
          <tr>
            <td (click)="redirectToPrivacyAndPolicy()"><a class="btn-footer nav-link js-scroll-trigger">Privacy policy/Datenschutz</a></td>
          </tr>
        </table>
      </div>
      <div class="col-auto">
        <table class="footer-follow">
          <tr>
            <td (click)="redirectToTermsAndConditions()"><a class="btn-footer nav-link js-scroll-trigger">Terms and conditions/AGB</a></td>
          </tr>
        </table>
      </div>
      <div class="col-auto">
        <table class="footer-follow">
          <tr>
            <td (click)="redirectToImpressum()"><a class="btn-footer nav-link js-scroll-trigger">Imprint/Impressum</a></td>
          </tr>
        </table>
      </div>
      <!--        <div class="col-auto">-->
      <!--          <table class="footer-follow">-->
      <!--            &lt;!&ndash;            <tr>&ndash;&gt;-->
      <!--            &lt;!&ndash;              <th  colspan="2">Contact</th>&ndash;&gt;-->
      <!--            &lt;!&ndash;            </tr>&ndash;&gt;-->
      <!--            <tr>-->
      <!--              <td>logsight.ai@gmail.com</td>-->
      <!--            </tr>-->
      <!--          </table>-->
      <!--        </div>-->

    </div>


  </div>
</div>
</body>
</html>
