<div class="row" style="padding-left: 5%;padding-right: 5%">
  <div class="col-md-6 p-0 mb-4">
    <nb-select class="period-select col-md-4 pl-3" [(selected)]="this.applicationId"
               (selectedChange)="applicationSelected($event)"
               placeholder="Select application">
      <nb-option [value]="0">All</nb-option>
      <nb-option *ngFor="let app of applications" [value]="app.id">
        {{ app.name }}
      </nb-option>
    </nb-select>
  </div>
  <div class="col-md-6 text-right">
    <div style="width: 100%;" class="text-right">
      <button title="Select Date Range" [nbPopover]="dateTimePicker" nbPopoverPlacement="bottom" nbButton
              (click)="openPopover()" size="small" shape="round"
              nbPopoverTrigger="noop"><i class="fa fa-calendar"></i></button>
    </div>
  </div>
</div>

<div class="col-lg-12" style="padding-left: 5%;padding-right: 5%" tourAnchor="anchorIncidentsTab">
  <h5 style="font-weight: 600">Incidents</h5>
  <chart-heatmap heatmapHeight="{{(heatmapData[0].series.length+1)*70}}px"  [data]="heatmapData"></chart-heatmap>
</div>

<br>
<br>
<hr size="30" noshade style="margin-left: 5%; margin-right: 5%">

<div style="padding-left: 5%;padding-right: 5%">
  <div *ngIf="tableData?.semanticCountAds" >
    <h5 style="font-weight: 600" >Critical anomalies  <nb-icon icon="info-outline" nbTooltip="Critical anomalies are most severe. It means that they are deviating from the normal service execution flow (or are new log messages) and in the same time are recognized as cognitive anomalies by our deep network." nbTooltipStatus="basic" nbButton status="basic"></nb-icon></h5>
    <nb-card tourAnchor="anchorCriticalAnomalies">
      <nb-card-body>
        <div class="col-lg-12 p-0">
          <div class="scrollable">
            <table class="table table-striped table-borderless">
              <thead>
              <tr>
                <th style="width: 2%" scope="col"></th>
                <th style="width: 15%" scope="col">Timestamp</th>
                <th style="width: 12%" scope="col">Ratio  <nb-icon icon="info-outline" nbTooltip="The ratio presents information about the current and expected count number of appereance of particular log type" nbTooltipStatus="basic" nbButton status="basic"></nb-icon></th>
                <th style="width: 5%" scope="col">Level</th>
                <th style="width: 66%" scope="col">Log message</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of tableData.semanticCountAds; let i = index">
                <td>{{i + 1}}</td>
                <td>{{row.timestamp}}</td>
                <td><ngx-charts-bar-horizontal style="fill: white" [showDataLabel]="true" [noBarWhenZero]="true" [yAxis]="false" [roundEdges]="false" [view]="[180,80]" [results]="[{'name':'Current', 'value':row.rate_now}, {'name':'Previous', 'value':row.smr}]"></ngx-charts-bar-horizontal>
                </td>
                <td>
                <span style="float: left; color: yellow; font-weight: 600;"
                      [class.error]="row.actualLevel == 'ERROR'"
                      [class.info]="row.actualLevel == 'INFO'"
                      class="mr-2">{{row.actualLevel}}</span>
                </td>
                <td>
                  <app-ad-banner [row]="row"></app-ad-banner>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div *ngIf="tableData?.countAds" tourAnchor="anchorFlowAnomalies">
    <h5 style="font-weight: 600" >Flow anomalies  <nb-icon icon="info-outline" nbTooltip="Flow anomalies are those logs that deviate from the normal flow of the system. For example, consider that log statements A and B are always appearing together in a time interval. If this ratio is broken then we report a flow anomaly. logsight.ai learns system flows, our method needs ~10.000 log messages for this feature to be enabled" nbTooltipStatus="basic" nbButton status="basic"></nb-icon></h5>
    <nb-card >
      <nb-card-body>
        <div class="col-lg-12 p-0">

          <div class="scrollable">
            <table class="table table-striped table-borderless">
              <thead>
              <tr>
                <th style="width: 2%" scope="col"></th>
                <th style="width: 15%" scope="col">Timestamp</th>
                <th style="width: 8%" scope="col">Ratio <nb-icon icon="info-outline" nbTooltip="The ratio presents information about the current and expected count number of appereance of particular log type" nbTooltipStatus="basic" nbButton status="basic"></nb-icon>
                </th>
                <th style="width: 5%" scope="col">Level</th>
                <th style="width: 70%" scope="col">Log message</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of tableData.countAds; let i = index">
                <td>{{i + 1}}</td>
                <td>{{row.timestamp}}</td>
                <td><ngx-charts-bar-horizontal style="fill: white" [showDataLabel]="true" [noBarWhenZero]="true" [yAxis]="false" [roundEdges]="false" [view]="[150,80]" [results]="[{'name':'Current', 'value':row.rate_now}, {'name':'Previous', 'value':row.smr}]"></ngx-charts-bar-horizontal>
                </td>
                <td>
                    <span style="float: left; color: yellow; font-weight: 600;"
                          [class.error]="row.actualLevel == 'ERROR'"
                          [class.info]="row.actualLevel == 'INFO'"
                          class="mr-2">{{row.actualLevel}}</span>
                </td>
                <td>
                  <app-ad-banner [row]="row"></app-ad-banner>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div *ngIf="tableData?.semanticAd" tourAnchor="anchorCogAnomalies">
    <h5  style="font-weight: 600">Cognitive anomalies  <nb-icon icon="info-outline" nbTooltip="Cognitive anomalies are log messages that have negative semantic meaning in software systems. The AI system in the background knows how to distinguish normal and anomaly log messages based on learning from millions log messages." nbTooltipStatus="basic" nbButton status="basic"></nb-icon></h5>
    <nb-card>
      <nb-card-body>
        <div class="col-lg-12 p-0">

          <div class="scrollable">
            <table class="table table-striped table-borderless">
              <thead>
              <tr>
                <th style="width: 2%" scope="col"></th>
                <th style="width: 13%" scope="col">Date</th>
                <th style="width: 5%" scope="col">Level</th>
                <th style="width: 80%" scope="col">Message</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of tableData.semanticAd; let i = index">
                <td>{{i + 1}}</td>
                <td>{{row.timestamp}}</td>
                <td>
                <span [class.error]="row.actualLevel == 'ERROR'"
                      [class.info]="row.actualLevel == 'INFO'"
                      class="mr-2">{{row.actualLevel}}</span>
                </td>
                <td>
                  <app-ad-banner [row]="row"></app-ad-banner>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div *ngIf="tableData?.newTemplates"  tourAnchor="anchorNewAnomalies">
    <h5 style="font-weight: 600">New log types  <nb-icon icon="info-outline" nbTooltip='These log types are detected as novel and not seen before. This might happen when there is abnormal system behavior, or simply a new update of the application.' nbTooltipStatus="basic" nbButton status="basic"></nb-icon></h5>
    <nb-card >
      <nb-card-body>
        <div class="col-lg-12 p-0">
          <div class="scrollable">
            <table class="table table-striped table-borderless">
              <thead>
              <tr>
                <th style="width: 2%" scope="col"></th>
                <th style="width: 13%" scope="col">Date</th>
                <th style="width: 5%" scope="col">Level</th>
                <th style="width: 80%" scope="col">Message</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of tableData.newTemplates; let i = index">
                <td>{{i + 1}}</td>
                <td>{{row.timestamp}}</td>
                <td>
                <span [class.error]="row.actualLevel == 'ERROR'"
                      [class.info]="row.actualLevel == 'INFO'"
                      class="mr-2">{{row.actualLevel}}</span>
                </td>
                <td>
                  <app-ad-banner [row]="row"></app-ad-banner>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>


</div>
<ng-template #dateTimePicker>
  <elastic-custom-datepicker (search)="onDateTimeSearch($event)"></elastic-custom-datepicker>
</ng-template>
