th, td {
  color: white;
}

.scrollable {
  max-height: 400px;
  overflow-y: auto;
}

.nv-x .tick line {
  display: none;
}

.search-button {
  margin-top: 27px;
  height: 39px
}

.template {
  color: red;
}

.template:hover {
  cursor: pointer;
  opacity: .7;
}

table {
  table-layout: fixed;
  width: 100%;
}

.table-height {
  max-height: 80vh;
  overflow-y: auto
}
