<div class="row" style="padding-left: 5%;padding-right: 5%">
  <div class="col-md-12 text-right">
    <div style="width: 100%;" class="text-right">
      <button title="Select Date Range" [nbPopover]="dateTimePicker" nbPopoverPlacement="bottom" nbButton
              (click)="openPopover()"
              nbPopoverTrigger="noop"><i class="fa fa-calendar"></i></button>
    </div>
  </div>
</div>

<div class="col-lg-12" style="padding-left: 5%;padding-right: 5%">
  <h5 style="font-weight: 600">Incidents</h5>
  <chart-heatmap [data]="heatmapData"></chart-heatmap>
</div>

<br>
<br>
<hr size="30" noshade style="margin-left: 5%; margin-right: 5%">

<div  style="padding-left: 5%;padding-right: 5%">
  <div  *ngIf="tableData?.semanticCountAds">
  <h5 style="font-weight: 600">Critical anomalies</h5>
<nb-card>
  <nb-card-body>
    <div class="col-lg-12 p-0">
      <div class="scrollable">
        <table class="table table-striped table-borderless">
          <thead>
          <tr>
            <th style="width: 3%" scope="col"></th>
            <th style="width: 10%" scope="col">Date</th>
            <th style="width: 5%" scope="col">Level</th>
            <th style="width: 82%" scope="col">Message</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of tableData.semanticCountAds; let i = index">
            <td>{{i + 1}}</td>
            <td>{{row.timestamp}}</td>
            <td>
                <span style="float: left; color: yellow; font-weight: 600;"
                      [class.error]="row.actualLevel == 'ERROR'"
                      [class.info]="row.actualLevel == 'INFO'"
                      class="mr-2">{{row.actualLevel}}</span>
            </td>
            <td>
              <app-ad-banner [row]="row"></app-ad-banner>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>
  </div>
  <div *ngIf="tableData?.countAds">
  <h5 style="font-weight: 600">Flow anomalies</h5>
<nb-card>
  <nb-card-body>
    <div class="col-lg-12 p-0">

      <div class="scrollable">
        <table class="table table-striped table-borderless">
          <thead>
          <tr>
            <th style="width: 3%" scope="col"></th>
            <th style="width: 10%" scope="col">Date</th>
            <th style="width: 5%" scope="col">Level</th>
            <th style="width: 82%" scope="col">Message</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of tableData.countAds; let i = index">
            <td>{{i + 1}}</td>
            <td>{{row.timestamp}}</td>
            <td>
                    <span style="float: left; color: yellow; font-weight: 600;"
                          [class.error]="row.actualLevel == 'ERROR'"
                          [class.info]="row.actualLevel == 'INFO'"
                          class="mr-2">{{row.actualLevel}}</span>
            </td>
            <td>
              <app-ad-banner [row]="row"></app-ad-banner>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>
  </div>
<div *ngIf="tableData?.semanticAd">
  <h5 style="font-weight: 600">Cognitive anomalies</h5>
<nb-card >
  <nb-card-body>
    <div class="col-lg-12 p-0">

      <div class="scrollable">
        <table class="table table-striped table-borderless">
          <thead>
          <tr>
            <th style="width: 3%" scope="col"></th>
            <th style="width: 10%" scope="col">Date</th>
            <th style="width: 5%" scope="col">Level</th>
            <th style="width: 82%" scope="col">Message</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of tableData.semanticAd; let i = index">
            <td>{{i + 1}}</td>
            <td>{{row.timestamp}}</td>
            <td>
                <span [class.error]="row.actualLevel == 'ERROR'"
                      [class.info]="row.actualLevel == 'INFO'"
                      class="mr-2">{{row.actualLevel}}</span>
            </td>
            <td>
              <app-ad-banner [row]="row"></app-ad-banner>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>
</div>

  <div *ngIf="tableData?.newTemplates">
  <h5 style="font-weight: 600">New log types</h5>
<nb-card >
  <nb-card-body>
    <div class="col-lg-12 p-0">
      <div class="scrollable">
        <table class="table table-striped table-borderless">
          <thead>
          <tr>
            <th style="width: 3%" scope="col"></th>
            <th style="width: 10%" scope="col">Date</th>
            <th style="width: 5%" scope="col">Level</th>
            <th style="width: 82%" scope="col">Message</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of tableData.newTemplates; let i = index">
            <td>{{i + 1}}</td>
            <td>{{row.timestamp}}</td>
            <td>
                <span [class.error]="row.actualLevel == 'ERROR'"
                      [class.info]="row.actualLevel == 'INFO'"
                      class="mr-2">{{row.actualLevel}}</span>
            </td>
            <td>
              <app-ad-banner [row]="row"></app-ad-banner>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>
  </div>


</div>
<ng-template #dateTimePicker>
  <elastic-custom-datepicker (search)="onDateTimeSearch($event)"></elastic-custom-datepicker>
</ng-template>
