<div class="row" tourAnchor="profile">
  <div class="col">
    <p-card header="User information">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-4"><p>Username:</div>
            <div class="col-8"><b>{{email}}</b></div>
          </div>
          <div class="row text-left">
            <div class="col-4"><p>User ID:</div>
            <div class="col-8"><b>{{userId}}</b></div>
          </div>
          <div class="row">
            <div class="col-4"><p>Password:</div>
            <div class="col-8">
              <p-accordion>
                <p-accordionTab header="Change password">
                  <form (submit)="changePassword()" [formGroup]="formPassword" aria-labelledby="title">
                    <div class="row">
                      <div class="col-lg-12 col-xl-6" style="margin-top: 3px">
                        <input [attr.aria-invalid]="formPassword.invalid && formPassword.touched ? true : null"
                               [required]="true" class="mr-2" formControlName="oldPassword" id="formOldPassword"
                               pPassword placeholder="Enter your old password" type="password"
                               type="password">
                        <div *ngIf="formPassword.controls['oldPassword'].invalid && formPassword.touched">
                          <p *ngIf="formPassword.controls['oldPassword'].errors?.minlength" class="error-message">
                            Password length should be minimum of 8 characters.
                          </p>
                        </div>
                        <br>
                        <br>
                        <input [attr.aria-invalid]="formPassword.invalid && formPassword.touched ? true : null"
                               [required]="true" class="mr-2" formControlName="newPassword" id="formPassword"
                               pPassword placeholder="Enter the new password" type="password"
                        >
                        <div *ngIf="formPassword.controls['newPassword'].invalid && formPassword.touched">
                          <p *ngIf="formPassword.controls['newPassword'].errors?.minlength" class="error-message">
                            Password length should be minimum of 8 characters.
                          </p>
                        </div>
                        <br>
                        <br>
                        <input [attr.aria-invalid]="formPassword.invalid && formPassword.touched ? true : null"
                               [required]="true"
                               class="mr-2" formControlName="repeatNewPassword" id="formRepeatPassword"
                               pPassword
                               placeholder="Repeat the new password"
                               type="password">
                        <div *ngIf="formPassword.touched">
                          <p *ngIf="formPassword.controls['repeatNewPassword'].errors?.minlength" class="error-message">
                            Password length should be minimum of 8 characters.
                          </p>
                          <p *ngIf="!isMatching" class="error-message">
                            Passwords are not matching
                          </p>
                        </div>
                        <br>
                        <br>
                        <button [disabled]="!formPassword.valid" class="p-button-lg" label="Change password"
                                pButton style="text-transform: none">
                        </button>

                      </div>
                      <div class="col-lg-12 col-xl-6">
                      </div>
                    </div>
                  </form>
                </p-accordionTab>
              </p-accordion>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button pButton (click)="stripeCLick()">Subscribe to the developer plan</button>
      </div>
      <div style="margin-top: 10px;">
        <button pButton (click)="stripeCustomerPortal()">Manage subscription</button>
      </div>

      <div style="margin-top: 10px;">
        Check our <a href="https://logsight.ai/#pricing">pricing plans</a>, or reach out to <a href="mailto: support@logsight.ai">support@logsight.ai</a> for more information.
      </div>
    </p-card>
  </div>

  <div class="col">

  </div>
</div>

