<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-sm-4 text-left">
        <h6>User info</h6>
        <p class="mb-3">Username:</p>
        <p class="mb-3"><b>{{email}}</b></p>
        <p class="mb-3">Private key:</p>
        <p class="mb-3"><b>{{key}}</b></p>
        <br>

        <nb-accordion style="margin-right: 30%">
  <nb-accordion-item>
    <nb-accordion-item-header>
      Change password
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <form [formGroup]="formPassword" (submit)="changePassword()" aria-labelledby="title">
              <div class="row">
                <div class="col-lg-12 col-xl-6" style="margin-top: 3px">
                  <input nbInput class="mr-2" type="password" formControlName="oldPassword" id="formOldPassword"
                         placeholder="Enter your old password" [required]="true"
                         [attr.aria-invalid]="formPassword.invalid && formPassword.touched ? true : null">
                  <ng-container *ngIf="formPassword.controls['oldPassword'].invalid && formPassword.touched">
                    <p class="error-message" style="color: white" *ngIf="formPassword.controls['oldPassword'].errors?.minlength">
                      Password length should be minimum of 8 characters.
                    </p>
                  </ng-container>
                  <br>
                  <br>

                  <input nbInput class="mr-2" type="password" formControlName="password" id="formPassword"
                         placeholder="Enter the new password" [required]="true"
                         [attr.aria-invalid]="formPassword.invalid && formPassword.touched ? true : null">
                  <ng-container *ngIf="formPassword.controls['password'].invalid && formPassword.touched">
                    <p class="error-message" style="color: white" *ngIf="formPassword.controls['password'].errors?.minlength">
                      Password length should be minimum of 8 characters.
                    </p>
                  </ng-container>
                  <br>
                  <br>
                  <input nbInput class="mr-2" type="password" formControlName="passwordRetry" id="formRetryPassword"
                         placeholder="Repeat the new password" [required]="true"
                         [attr.aria-invalid]="formPassword.invalid && formPassword.touched ? true : null">
                  <ng-container *ngIf="formPassword.touched">
                    <p class="error-message" style="color: white" *ngIf="formPassword.controls['passwordRetry'].errors?.minlength">
                      Password length should be minimum of 8 characters.
                    </p>
                    <p class="error-message" style="color: white" *ngIf="!isMatching">
                      Passwords are not matching
                    </p>
                  </ng-container>
                  <br>
                  <br>
                  <button nbButton shape="round" style="text-transform: none" class="create-app-btn" status="basic" [disabled]="!formPassword.valid">Change password</button>

                </div>
                <div class="col-lg-12 col-xl-6">
                </div>
              </div>
            </form>
    </nb-accordion-item-body>
  </nb-accordion-item>
        </nb-accordion>


        <br>

        </div>

<!--      <div class="col-sm-4 text-center">-->
<!--        <nb-alert *ngIf="paymentSuccessful=='true'" status="success">The payment was successful!</nb-alert>-->
<!--        <nb-alert *ngIf="paymentSuccessful=='false'" status="danger">The payment was not successful, try again!</nb-alert>-->
<!--          <h6>Billing plan</h6>-->

<!--          <nb-card>-->
<!--            <nb-card-body  align="center">-->

<!--              <div><p>Quantity in GB per month.</p> <p>Every GB costs 2 Euro</p></div>-->


<!--              <form [formGroup]="form" (submit)="changeQuantity()" aria-labelledby="title">-->
<!--              <div class="row">-->
<!--&lt;!&ndash;                <div class="col-lg-6 col-xl-8 text-center" style="margin-top: 3px">&ndash;&gt;-->
<!--&lt;!&ndash;                  <button nbButton shape="round" (click)="minus()" ><i class="fa fa-minus"></i> </button>&ndash;&gt;-->
<!--                <div class="col">-->
<!--                  <input nbInput class="mr-2" type="number" formControlName="name" id="name"-->
<!--                         placeholder="Quantity in GBs" [required]="true"-->
<!--                         [attr.aria-invalid]="form.invalid && form.touched ? true : null">-->
<!--&lt;!&ndash;                   <button nbButton shape="round" (click)="plus()"><i class="fa fa-plus"></i> </button>&ndash;&gt;-->
<!--                  <ng-container *ngIf="form.controls['name'].invalid && form.touched">-->
<!--                    <p class="error-message" *ngIf="form.controls['email'].errors?.required">-->
<!--                      Quantity is required-->
<!--                    </p>-->
<!--                  </ng-container>-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-lg-6 col-xl-4 text-center">&ndash;&gt;-->
<!--                  <button nbButton style="text-transform: none" class="create-app-btn" status="success" [disabled]="!form.valid">Set quantity</button>-->
<!--                </div>-->
<!--                  &lt;!&ndash;                </div>&ndash;&gt;-->
<!--              </div>-->
<!--            </form>-->






<!--&lt;!&ndash;              <input nbInput  style="width: 60%" type="number" [value]="quantity">&ndash;&gt;-->

<!--              <p>Total cost per month: {{quantity * 2}}.00 Euro</p>-->
<!--              <div *ngIf="!hasPaid" style="margin-bottom: 10px">-->
<!--                <button nbButton style="width: 60%;text-transform: none" shape="round" (click)="stripeCLickSubscription()">Subscribe <nb-icon icon="info-outline"-->
<!--               nbTooltip="Subscription will be monthly charged. You can cancel anytime."-->
<!--               nbTooltipStatus="basic" nbButton status="basic"></nb-icon></button>-->
<!--              </div>-->
<!--&lt;!&ndash;              <div>&ndash;&gt;-->
<!--&lt;!&ndash;                <button nbButton style="width: 60%; text-transform: none" shape="round" (click)="stripeCLickCheckout()" >One-time purchase <nb-icon icon="info-outline"&ndash;&gt;-->
<!--&lt;!&ndash;               nbTooltip="One time purchase enables you to pay for fixed amount of data, independently of the time period."&ndash;&gt;-->
<!--&lt;!&ndash;               nbTooltipStatus="basic" nbButton status="basic"></nb-icon></button>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--              <div *ngIf="hasPaid">-->
<!--                <button nbButton style="width: 60%;text-transform: none" shape="round" (click)="stripeCLickSubscription()">Update plans <nb-icon icon="info-outline"-->
<!--               nbTooltip="If your subscription is not enough, you can subscribe again. Make sure you cancel your previous plan bellow in 'Manage Plan'."-->
<!--               nbTooltipStatus="basic" nbButton status="basic"></nb-icon></button>-->
<!--              </div>-->
<!--              <div style="margin-top: 10px">-->
<!--                <button nbButton style="width: 60%;text-transform: none" shape="round" (click)="stripeCustomerPortal()">Manage plans <nb-icon icon="info-outline"-->
<!--               nbTooltip="Manage your subscriptions, here you can cancel or modify your subscription."-->
<!--               nbTooltipStatus="basic" nbButton status="basic"></nb-icon></button>-->
<!--              </div>-->
<!--            </nb-card-body>-->

<!--          </nb-card>-->
<!--          <h6>Data usage (MBs)</h6>-->
<!--          <div align="center">-->

<!--            <ngx-charts-number-card-->
<!--              [view]="view"-->
<!--              [scheme]="colorScheme"-->
<!--              [valueFormatting]="valueFormatter"-->
<!--              [results]='[-->
<!--                  {-->
<!--                    "name": "Data Used",-->
<!--                    "value": usedData-->
<!--                  },-->
<!--                  {-->
<!--                    "name": "Data Purchased",-->
<!--                    "value": availableData-->
<!--                  }]'-->
<!--              [cardColor]="cardColor">-->
<!--            </ngx-charts-number-card>-->

<!--          </div>-->

<!--      </div>-->

    </div>
  </div>
</div>
