<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>LogSight</title>
  <link rel="icon" href="assets/icons/favicon.png" type="image/png" sizes="16x16">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Array Multipurpose Startup Business Template">
  <meta name="keywords" content="Array HTML Template, Array Startup Business Template, Startup Template">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
  <script>hljs.highlightAll();</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js" integrity="sha512-s+tOYYcC3Jybgr9mVsdAxsRYlGNq4mlAurOrfNuGMQ/SCofNPu92tjE7YRZCsdEtWL1yGkqk15fU/ark206YTg==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/a11y-light.min.css" integrity="sha512-PW96n2amVglidqEDLPUdjJ0zByhT20poSqWJYZRutR6CP2QH58k96WmorqNnC4QXnosNeqMJM8FR/93isIifDQ==" crossorigin="anonymous" />
</head>

<body>
<header class="animated fadeInDown" id="navbar">
  <section class="web_homePage" (scroll)="onWindowScroll($event);">
      <!-- Navbar Section -->

    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <div class="container-fluid container-new">
        <div class="navbar-header">
<!--        <div class="container container-l">-->
<!--          <div class="navbar navbar-title">-->
            <a class="navbar-brand" href="#"><img alt="logo" src="../../../../assets/images/logsight_logo.png" height="50" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-right">
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#products">About</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#features">Features</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#reviews">Reviews</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#pricing">Pricing</a></li>
              <li class="nav-item" (click)="redirectToLogin()"><a class="btn-login nav-link js-scroll-trigger">Login</a></li>
            </ul>
          </div>
        </div>
      </nav> <!-- Navbar End -->
    </section>
</header>
  <section class = "banner"></section>

  <div id="main" class="main">
    <div id="signup" class="cta-sm">
      <div class="container-m text-center">
        <h1>Let AI help you deliver perfect software, faster.</h1>
        <div class="cta-content">
          <div class="form wow fadeIn" data-wow-delay="0.2s">
            <form id="chimp-form" [formGroup]="form" (submit)="onSignUp()" class="subscribe-form wow zoomIn" accept-charset="UTF-8"
                  enctype="application/x-www-form-urlencoded" autocomplete="off" novalidate>
              <input formControlName="email" class="mail" id="chimp-email" type="email" name="email" placeholder="Enter your email address"
                     autocomplete="off">
              <input class="submit-button" type="submit" value="Sign up now">
            </form>
            <div id="response"></div>
          </div>
          <div class="form-note">
            <p>14-day free trial and no credit card required.</p>
          </div>
        </div>
      </div>
    </div>



    <div id="products" class="features wow fadeInDown">
      <div class="container-m">
        <div class="row text-center">
          <div class="col-md-12">
            <div class="features-intro">
              <h2>Welcome to LogSight, where data matters.</h2>
              <p>We Deliver AI models to system operators and care about accurate predictions. </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="feature-list">
              <div class="card-icon">
                <div class="card-img">
                  <img src="assets/icons/a1.png" width="35" alt="Feature">
                </div>
              </div>
              <div class="card-text">
                <h3>Anomlay Detection</h3>
                <p>Deliver the best stories and ideas on the topics you care about most straight to you.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="feature-list">
              <div class="card-icon">
                <div class="card-img">
                  <img src="assets/icons/a2.png" width="35" alt="Feature">
                </div>
              </div>
              <div class="card-text">
                <h3>Incident Aggregation</h3>
                <p>Deliver the best stories and ideas on the topics you care about most straight to you.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="feature-list">
              <div class="card-icon">
                <div class="card-img">
                  <img src="assets/icons/a3.png" width="35" alt="Feature">
                </div>
              </div>
              <div class="card-text">
                <h3>Log Templates</h3>
                <p>Deliver the best stories and ideas on the topics you care about most straight to you.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="feature-list">
              <div class="card-icon">
                <div class="card-img">
                  <img src="assets/icons/a4.png" width="35" alt="Feature">
                </div>
              </div>
              <div class="card-text">
                <h3>Log Metrics</h3>
                <p>Deliver the best stories and ideas on the topics you care about most straight to you.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="feature-list">
              <div class="card-icon">
                <div class="card-img">
                  <img src="assets/icons/a5.png" width="35" alt="Feature">
                </div>
              </div>
              <div class="card-text">
                <h3> AI Model Management</h3>
                <p>Deliver the best stories and ideas on the topics you care about most straight to you.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="feature-list">
              <div class="card-icon">
                <div class="card-img">
                  <img src="assets/icons/a6.png" width="35" alt="Feature">
                </div>
              </div>
              <div class="card-text">
                <h3>Log Comparison</h3>
                <p>Deliver the best stories and ideas on the topics you care about most straight to you.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Features Section -->
    <div id="features" class="flex-split">
      <div class="container-s">
        <div class="flex-intro align-center wow fadeIn">
          <h2>Reduce Mean Time To Recovery</h2>
          <p> When you get staright to the point the presentation looks attractive on your web pages.
            Keep it simple and clean always.</p>
        </div>
        <div class="flex-inner align-center">
          <div class="f-image wow">
            <img class="img-fluid" src="assets/images/feature.png" alt="Feature">
          </div>
          <div class="f-text">
            <div class="left-content">
              <h2>Dynamic charts.</h2>
              <p> When you get staright to the point the presentation looks attractive on your web pages.</p>
              <a href="#">Know more</a>
            </div>
          </div>
        </div>

        <div class="flex-inner flex-inverted align-center">
          <div class="f-image f-image-inverted">
            <img class="img-fluid" src="assets/images/feature.png" alt="Feature">
          </div>
          <div class="f-text">
            <div class="left-content">
              <h2>Mobile Analytics.</h2>
              <p> When you get staright to the point the presentation looks attractive on your web pages.</p>
              <a href="#">Know more</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Counter Section -->
    <div class="yd-stats wow fadeIn">
      <div class="container-s">
        <div class="row text-center">
          <div class="col-sm-12">
            <div class="intro">
              <h2>Reduce Mean Time To Recovery & cut work hours</h2>
              <p>Organized workflow and predictive patterns to boost your revenue.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="counter-up">
              <h3><span class="counter">47</span>%</h3>
              <div class="counter-text">
                <h2>Lesser backlogs</h2>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="counter-up">
              <h3><span class="counter">33</span>%</h3>
              <div class="counter-text">
                <h2>Higher Profits</h2>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="counter-up">
              <h3><span class="counter">33</span>%</h3>
              <div class="counter-text">
                <h2>Higher Profits</h2>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="yd-link">
              <a href="#">Know more about the template</a>
            </div>
          </div>

        </div>
      </div>
    </div><!-- Counter Section Ends -->

    <div class="ar-ft-single wow fadeIn">
      <div class="container-m">
        <div class="ar-feature">
          <div class="ar-list">
            <ul>
              <li>
                <div class="ar-icon">
                  <img src="assets/icons/f1.png" width="30" alt="Icon">
                </div>
                <div class="ar-text">
                  <h3>Client Support</h3>
                  <p>Team hangouts and instant text messaging right from the dashboard.</p>
                </div>
              </li>
              <li>
                <div class="ar-icon">
                  <img src="assets/icons/f4.png" width="30" alt="Icon">
                </div>
                <div class="ar-text">
                  <h3>Secure Servers</h3>
                  <p>Team hangouts and instant text messaging right from the dashboard.</p>
                </div>
              </li>
              <li>
                <div class="ar-icon">
                  <img src="assets/icons/f11.png" width="30" alt="Icon">
                </div>
                <div class="ar-text">
                  <h3>Product Feedback</h3>
                  <p>Team hangouts and instant text messaging right from the dashboard.</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="ar-image">
            <img class="ar-img img-fluid" src="assets/images/feature-2.png" alt="Hero Image">
          </div>
        </div>
      </div>
    </div>


    <div id="reviews" class="yd-reviews"><!-- Array Reviews -->
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-12 col-lg-8 offset-lg-2">
            <div class="intro wow fadeIn" data-wow-delay="0.1s">
              <h1>Customers say nice things</h1>
              <p>We have very fair pricing policy that would benefit you and us at the same time.
                Get the free plan &amp; if you need more - pay.
              </p>
            </div>
          </div>

          <div class="col-sm-12 col-lg-8 offset-lg-2 text-center">
            <div class="review-cards owl-carousel owl-theme wow fadeInDown" data-wow-delay="0.2s">
              <div class="card-single">
                <div class="review-text">
                  <h1>"We have very fair pricing policy that would benefit you and us at the same time.
                    Choose what price you're willing to pay. Get the free plan & if you need more - pay."
                  </h1>
                </div>
                <div class="review-attribution">
                  <div class="review-img">
                    <img class="img-fluid rounded-circle" src="assets/icons/review-1.png" alt="Review">
                  </div>
                  <i class="ion ion-star"></i>
                  <i class="ion ion-star"></i>
                  <i class="ion ion-star"></i>
                  <i class="ion ion-star"></i>
                  <i class="ion ion-ios-star-half"></i>
                  <h2> Albert Rossi</h2>
                  <h6>Stack Developer</h6>
                  <a href="#">Dropboxes Inc</a>
                </div>
              </div>
              <div class="card-single">
                <div class="review-text">
                  <h1>"We have very fair pricing policy that would benefit you and us at the same time.
                    Choose what price you're willing to pay. Get the free plan & if you need more - pay."
                  </h1>
                </div>
                <div class="review-attribution">
                  <div class="review-img">
                    <img class="img-fluid rounded-circle" src="assets/icons/review-2.png" alt="Review">
                  </div>
                  <i class="ion ion-star"></i>
                  <i class="ion ion-star"></i>
                  <i class="ion ion-star"></i>
                  <i class="ion ion-star"></i>
                  <i class="ion ion-ios-star-half"></i>
                  <h2> Melissa Vanbergh</h2>
                  <h6>Vice President</h6>
                  <a href="#">Vestor Corp</a>
                </div>
              </div>
              <div class="card-single">
                <div class="review-text">
                  <h1>"We have very fair pricing policy that would benefit you and us at the same time.
                    Choose what price you're willing to pay. Get the free plan & if you need more - pay."
                  </h1>
                </div>
                <div class="review-attribution">
                  <div class="review-img">
                    <img class="img-fluid rounded-circle" src="assets/icons/review-3.png" alt="Review">
                  </div>
                  <i class="ion ion-star"></i>
                  <i class="ion ion-star"></i>
                  <i class="ion ion-star"></i>
                  <i class="ion ion-star"></i>
                  <i class="ion ion-star"></i>
                  <h2> Joshua Peterson</h2>
                  <h6>Product Developer</h6>
                  <a href="#">Betabet Inc</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Array Reviews Ends -->


    <!-- Array Pricing Section -->
    <div id="pricing" class="pricing-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="pricing-intro wow fadeInDown">
              <h1>Pricing Plans.</h1>
              <p>
                Our plans are designed to meet the requirements of both beginners <br class="hidden-xs"> and players.
                Get the right plan that suits you.
              </p>
            </div>
            <div class="row">
              <div class="col-lg-4 offset-lg-2 col-md-6">
                <div class="table-left wow fadeInDown">
                  <div class="pricing-details">
                    <h2>Freemium</h2>
                    <img src="assets/icons/free.png" width="60" alt="Icon">

                    <span>$0.00</span>
                    <ul>
                      <li>First basic feature</li>
                      <li>Second feature goes here</li>
                      <li>Any other third feature</li>
                    </ul>
                    <button class="btn-action">Get Plan</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="table-right wow fadeInDown">
                  <div class="pricing-details">
                    <h2>Advanced</h2>
                    <img src="assets/icons/paid.png" width="60" alt="Icon">
                    <span>coming soon</span>
                    <ul>
                      <li>First premium feature</li>
                      <li>Second premium one goes here</li>
                      <li>Third premium feature here</li>
                    </ul>
                    <button class="btn-actionB" disabled="true">Buy Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Array Pricing Ends -->

    <!-- CTA Signup Section -->



    <!-- Array Footer Section -->
    <div class="footer-sm">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <a class="footer-logo" href="#">LogSight.</a>
          </div>
          <div class="col-md-4">
            <h6>&copy; IOThemes 2018 Rights Reserved</h6>
          </div>
          <div class="col-md-4">
            <ul>
              <li><a href="#">Impressum</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- Main -->
  <!-- Wrapper -->
</body>
</html>






