<!--<div align="center">-->

<!--  <h3>Choose a way to connect</h3>-->
<!--  <p style="font-size: 18px">Now, let’s get your logs to your logsight.ai models. <br>-->
<!--    Please choose one of the source types below.</p>-->
<!--</div>-->
<br>
<div class="row justify-content-md-center" style="max-width: 100%; padding-bottom: 75px">
  <h4 style="color: #ffffff">Select data source</h4>
  <br>
</div>
<div class="row justify-content-md-center" style="padding-left: 20%; padding-right: 20%">
<div class="col">
  <nb-card size="tiny" (click)="redirectToUploadLogFile()" style="cursor: pointer">
    <nb-card-body>
        <div class="vertical-center">
        <i class="fas fa-file-import fa-6x"></i> </div>
        <div class="vertical-center2">
        <button nbButton size="giant">Upload log file</button></div>
    </nb-card-body>
  </nb-card>
</div>

    <div class="col">
  <nb-card size="tiny" (click)="redirectToSampleData()" style="cursor: pointer">
    <nb-card-body>
        <div class="vertical-center">
        <i class="fas fa-copy fa-6x"></i> </div>
        <div class="vertical-center2">
        <button nbButton size="giant">Use sample data</button></div>
    </nb-card-body>
  </nb-card>
</div>


</div>
