<!--<div align="center">-->

<!--  <h3>Choose a way to connect</h3>-->
<!--  <p style="font-size: 18px">Now, let’s get your logs to your logsight.ai models. <br>-->
<!--    Please choose one of the source types below.</p>-->
<!--</div>-->
<br>
<div class="row justify-content-md-center" style="max-width: 100%; padding-bottom: 75px">
  <h4>Select data source</h4>
  <br>
</div>

<div class="row justify-content-md-center" style="padding-left: 20%; padding-right: 20%">
<div class="col">
  <nb-card size="small" (click)="redirectToUploadLogFile()" style="cursor: pointer">
    <nb-card-body>
        <div class="vertical-center justify-content-center text-center">
        <img src="../../../assets/img/upload-file.png" style="width: 70%; height: 70%"> </div>
        <div class="vertical-center2">
        <button shape="round"  style="text-transform: none" nbButton size="giant">Upload file</button></div>
    </nb-card-body>
  </nb-card>
</div>

    <div class="col">
  <nb-card size="small" (click)="redirectToSampleData()" style="cursor: pointer">
    <nb-card-body>
        <div class="vertical-center justify-content-center text-center">
        <img src="../../../assets/img/sample-data.png"  style="width: 70%; height: 70%"> </div>
        <div class="vertical-center2">
        <button nbButton shape="round" style="text-transform: none"  size="giant">Demo data</button></div>
    </nb-card-body>
  </nb-card>
</div>

      <div class="col">
  <nb-card size="small" (click)="redirectToSwagger()" style="cursor: pointer">
    <nb-card-body>
        <div class="vertical-center justify-content-center text-center">
        <img src="../../../assets/icons/swagger_logo.svg"  style="width: 70%; height: 70%"> </div>
        <div class="vertical-center2">
        <button nbButton shape="round" style="text-transform: none"  size="giant">Open API</button></div>
    </nb-card-body>
  </nb-card>
</div>



</div>

<div class="row justify-content-center" style="padding-left: 20%; padding-right: 20%">


    <div class="col">
  <nb-card size="small" (click)="redirectToGithub()" style="cursor: pointer">
    <nb-card-body>
        <div class="vertical-center justify-content-center text-center">
        <img src="../../../assets/img/github.png"  style="width: 70%; height: 70%"> </div>
        <div class="vertical-center2">
        <button shape="round"  style="text-transform: none" nbButton size="giant">GitHub</button>
        </div>
    </nb-card-body>
  </nb-card>
</div>

  <div class="col">
  <nb-card size="small" (click)="redirectToLogstash()" style="cursor: pointer">
    <nb-card-body>
        <div class="vertical-center justify-content-center text-center">
        <img src="../../../assets/img/logstash.png"  style="width: 70%; height: 70%"> </div>
        <div class="vertical-center2">
        <button shape="round"  style="text-transform: none" nbButton size="giant">Logstash</button></div>
    </nb-card-body>
  </nb-card>
</div>


      <div class="col">
  <nb-card size="small" (click)="redirectToFluentbit()" style="cursor: pointer">
    <nb-card-body>
        <div class="vertical-center justify-content-center text-center">
        <img src="../../../assets/img/logo-fluentbit.png"  style="width: 70%; height: 70%"> </div>
        <div class="vertical-center2">
        <button nbButton shape="round" style="text-transform: none"  size="giant">FluentBit</button></div>
    </nb-card-body>
  </nb-card>
</div>


</div>
