<div class="header-container">
  <div class="logo-container">
    <!--    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">-->
    <!--      <nb-icon icon="menu-2-outline"></nb-icon>-->
    <!--    </a>-->
    <a class="logo" href="#" (click)="navigateHome()">
      <img alt="logo" src="../../../../assets/images/logsight_logo.png" height="50"/>
    </a>
  </div>

</div>
<div class="header-container">

  <!--  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">-->
  <!--    <div class="container">-->
  <!--      <div class="row justify-content-end">-->
  <!--        <div class="col-md-2" style="margin-right: 5px">-->
  <!--          <ul class="nav navbar-nav" routerLinkActive="active">-->
  <!--            <li class="nav-item">-->
  <!--              <a class="nav-link" routerLink="/pages/dashboard">-->
  <!--                <nb-icon icon="grid-outline" ></nb-icon>-->
  <!--                Dashboard-->
  <!--              </a>-->
  <!--            </li>-->
  <!--          </ul>-->
  <!--        </div>-->
  <!--        <div class="col-md-2" style="margin-right: 5px">-->
  <!--          <ul class="nav navbar-nav" routerLinkActive="active">-->
  <!--            <li class="nav-item">-->
  <!--              <a class="nav-link" routerLink="/pages/incidents">-->
  <!--                <nb-icon icon="radio-button-on-outline" ></nb-icon>-->
  <!--                Incidents-->
  <!--              </a>-->
  <!--            </li>-->
  <!--          </ul>-->
  <!--        </div>-->
  <!--        <div class="col-md-3" style="white-space: nowrap;">-->
  <!--          <ul class="nav navbar-nav" routerLinkActive="active">-->
  <!--            <li class="nav-item">-->
  <!--              <a class="nav-link" routerLink="/pages/variable-analysis">-->
  <!--                <nb-icon icon="bar-chart" ></nb-icon>-->
  <!--                Variable Analysis-->
  <!--              </a>-->
  <!--            </li>-->
  <!--          </ul>-->
  <!--        </div>-->
  <!--        <div class="col-md-2" >-->
  <!--          <ul class="nav navbar-nav" routerLinkActive="active">-->
  <!--            <li class="nav-item">-->
  <!--              <a class="nav-link" routerLink="/pages/integration">-->
  <!--                <nb-icon icon="link-outline" ></nb-icon>-->
  <!--                Integration-->
  <!--              </a>-->
  <!--            </li>-->
  <!--          </ul>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </nav>-->


  <!--  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">-->
  <!--    <div class="container">-->
  <div class="row justify-content-end" style="margin-right: 4rem">
    <div tourAnchor="anchorDashboard" style="white-space: nowrap; margin-right: 2rem">
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pages', 'dashboard']">
            <nb-icon icon="grid-outline"></nb-icon>
            Dashboard
          </a>
        </li>
      </ul>
    </div>
    <div tourAnchor="anchorIncidents" style="white-space: nowrap; margin-right: 2rem">
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pages', 'incidents']">
            <nb-icon icon="radio-button-on-outline"></nb-icon>
            Incidents
          </a>
        </li>
      </ul>
    </div>
    <div tourAnchor="anchorVanalysis" style="white-space: nowrap; margin-right: 4rem">
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pages', 'variable-analysis']">
            <nb-icon icon="bar-chart"></nb-icon>
            Variable Analysis
          </a>
        </li>
      </ul>
    </div>
    <div tourAnchor="anchorIntegration" style="white-space: nowrap; margin-right: 2rem">
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pages', 'integration']">
            <nb-icon icon="link-outline"></nb-icon>
            Integration
          </a>
        </li>
      </ul>
    </div>

    <div tourAnchor="anchorQuickstart" style="white-space: nowrap; margin-right: 2rem">
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pages', 'quickstart']">
            <nb-icon icon="flash-outline"></nb-icon>
            Quickstart
          </a>
        </li>
      </ul>
    </div>

    <div tourAnchor="anchorKibana" style="white-space: nowrap; margin-right: 2rem">
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" routerLink="/pages/kibana">
            <span class="iconify" data-icon="logos-kibana" data-inline="false"></span>
            Kibana
          </a>
        </li>
      </ul>
    </div>



  </div>
  <!--    </div>-->
  <!--  </nav>-->


  <!--<div class = top_navigation>-->
  <!--    <nb-actions size="small">-->
  <!--      <nb-action [routerLink]="['/pages/dashboard']">-->
  <!--        <div class="row align-items-center" style="position: center">-->
  <!--          <div class="col">-->
  <!--            <nb-icon icon="grid-outline"></nb-icon>-->
  <!--          </div>-->
  <!--          <div class="col">-->
  <!--            <p> Dashboard</p>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </nb-action>-->
  <!--      <nb-action [routerLink]="['/pages/incidents']">-->
  <!--        <div class="row align-items-center" style="position: center">-->
  <!--          <div class="col">-->
  <!--            <nb-icon icon='radio-button-on-outline'></nb-icon>-->
  <!--          </div>-->
  <!--          <div class="col">-->
  <!--            <p> Incidents </p>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </nb-action>-->
  <!--      <nb-action [routerLink]="['/pages/variable-analysis']">-->
  <!--        <div class="row align-items-center" style="position: center">-->
  <!--          <div class="col">-->
  <!--            <nb-icon icon='bar-chart'></nb-icon>-->
  <!--          </div>-->
  <!--          <div class="col">-->
  <!--            <p> Variable Analysis</p>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </nb-action>-->
  <!--      <nb-action icon='link-outline' [routerLink]="['/pages/integration']">-->
  <!--        <div class="row align-items-center" style="position: center">-->
  <!--          <div class="col">-->
  <!--            <nb-icon icon='link-outline'></nb-icon>-->
  <!--          </div>-->
  <!--          <div class="col">-->
  <!--            <p> Integration</p>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </nb-action>-->
  <!--    </nb-actions>-->
  <!--  </div>-->

  <!--</div>-->
  <!--<div class="header-container">-->

  <!--  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">-->
  <!--    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>-->
  <!--  </nb-select>-->
  <!--  <div class = top_navigation>-->
  <!--    <nb-menu [items]="menu" class="flow()"></nb-menu>-->
  <!--    <ng-content select="nb-menu" class="menu-horizontal"></ng-content>-->
  <!--  </div>-->


  <nb-actions size="small">

    <!--    <nb-action class="control-item">-->
    <!--      <nb-search type="rotate-layout"></nb-search>-->
    <!--    </nb-action>-->
    <!--    <nb-action class="control-item" icon="email-outline"></nb-action>-->
    <!--    <nb-action class="control-item" icon="bell-outline"></nb-action>-->

    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <nb-user [nbContextMenu]="userMenu"
               nbContextMenuTag="context-menu"
               [name]="email.split('@')[0]">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>

<style>
  ol, ul {
    list-style: none;
  }

  li {
    display: block;
    width: 120px;
    float: left;
    margin-left: 2px;
  }

  a {
    display: block;
    padding: 3px;
    text-decoration: none;
  }
</style>

<tour-step-template hidden>
  <ng-template let-step="step">
    <br>
    <mat-card (click)="$event.stopPropagation()" [style.backgroundColor]="'white'">
      <mat-card-title>
        {{step?.title}}
      </mat-card-title>
      <mat-card-content>
        {{step?.content}}
      </mat-card-content>
      <mat-card-actions>
        <button nbButton shape="round" size="small" [disabled]="!tourService.hasNext(step)" (click)="tourService.next()">
          Next
        </button>
        <button nbButton shape="round" size="small"  (click)="tourService.end()">{{step?.endBtnTitle}}</button>
      </mat-card-actions>

    </mat-card>
  </ng-template>
</tour-step-template>
