<div class="container-fluid">

  <!--  Filter by incidents ID or tags -->
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 mb-12 mb-lg-0">
      <p-card header="Incidents">

        <div class="row">
          <div class="col-2 border-right">
            <div class="row">
              <div class="col my-auto">ID
              </div>
            </div>
            <div class="row pt-1">
              <div class="col my-auto">
                <input type="text" pInputText [(ngModel)]="incidentShortId"
                       placeholder="ID must be selected via the Overview tab">
              </div>
            </div>
            <div class="row pt-2">
              <div class="col">
                {{this.tableDataUnified.timestamp | date:'medium'}}
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-2 my-auto">
                Baseline tags
              </div>
            </div>
            <div class="row pt-2">
              <div *ngIf="!baselineTagMapKeys.length" class="col">
                <p-skeleton borderRadius="16px" height="2rem"></p-skeleton>
              </div>
              <div *ngIf="!baselineTagMapKeys.length" class="col">
                <p-skeleton borderRadius="16px" height="2rem"></p-skeleton>
              </div>
              <div *ngIf="!baselineTagMapKeys.length" class="col">
                <p-skeleton borderRadius="16px" height="2rem"></p-skeleton>
              </div>
              <div *ngIf="!baselineTagMapKeys.length" class="col">
                <p-skeleton borderRadius="16px" height="2rem"></p-skeleton>
              </div>
              <div *ngIf="baselineTagMapKeys.length" class="col">
                <nb-tag-list>
                  <nb-tag *ngFor="let tagKey of baselineTagMapKeys" [text]="tagKey + ':' + baselineTagMap.get(tagKey)"
                          appearance="outline"
                          status="primary" style="text-transform: none"></nb-tag>
                </nb-tag-list>
              </div>
              <div *ngIf="baselineTagMapKeys.length" class="col-2"></div>
            </div>

            <div class="row pt-2">
              <div class="col-12">
                {{this.tableDataUnified.count_messages}} messages &nbsp; | &nbsp; {{this.tableDataUnified.count_states}}
                states
              </div>
            </div>
          </div>

        </div>


      </p-card>
    </div>
  </div>

  <!--  Deployment risk and log message overview -->
  <div class="row pt-5">
    <div class="col-xl-3 col-sm-6 col-12">
      <p-card>
        <div class="media d-flex">
          <div class="align-self-center text-danger"><i
            class="icon-energy font-large-2 float-left"></i>
          </div>
          <div class="media-body text-right">
            <h3 class="text-danger"> {{this.tableDataUnified.risk}} % </h3>
            <span>Incident risk</span>
          </div>
        </div>
      </p-card>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <p-card>
        <div class="media d-flex">
          <div class="align-self-center"><i class="icon-book-open text-primary font-large-2 float-left"></i>
          </div>
          <div class="media-body text-right">
            <h3 class="text-primary"> {{this.tableDataUnified.semantic_anomalies}} </h3>
            <span>Semantics</span>
          </div>
        </div>
      </p-card>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <p-card>
        <div class="media d-flex">
          <div class="media-body text-left">
            <h3 class="text-primary"> {{this.tableDataUnified.level_faults}} </h3>
            <span>Level errors</span>
          </div>
          <div class="align-self-center"><i class="pi pi-exclamation-circle text-primary font-large-2 float-right"></i>
          </div>
        </div>
      </p-card>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <p-card>
        <div class="media d-flex">
          <div class="media-body text-left">
            <h3 class="text-primary"> {{this.tableDataUnified.added_states}}</h3>
            <span>Added states</span>
          </div>
          <div class="align-self-center"><i class="icon-login text-primary font-large-2 float-right"></i>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-12">
      <p-card header="State analysis">
        <p-table
          #statesTable
          [paginator]="true"
          [rowsPerPageOptions]="rowsPerPageOptions"
          [rows]="rowsPerPageOptions[0]"
          [value]="tableRows"
          dataKey="template"
          sortMode="multiple">
          <ng-template pTemplate="header">
            <tr style="padding-bottom: 20px">
              <th [pSortableColumn]="'risk_severity'" style="width: 10%">Risk
                <p-sortIcon [field]="'risk_severity'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'timestamp'" style="width: 10%">Date
                <p-sortIcon [field]="'timestamp'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'message'" style="width: 60%">Message
                <p-sortIcon [field]="'message'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'level'" style="width: 10%">Level
                <p-sortIcon [field]="'level'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'prediction'"
                  style="width: 10%; overflow: hidden; word-wrap: anywhere">Semantic anomaly
                <p-sortIcon [field]="'prediction'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'added_state'" class="text-center"
                  style="width: 10%"> Added state
                <p-sortIcon [field]="'added_state'"></p-sortIcon>
              </th>
            </tr>

            <tr>
              <th>
                <p-dropdown
                  (onChange)="filterBySeverity($event)"
                  [options]="severityOptions"
                  [showClear]="true"
                  placeholder="Select a severity"
                  styleClass="p-column-filter">
                  <ng-template let-option pTemplate="item">
                    <span [class]="'severity-badge severity-' + option.label">{{option.label}}</span>
                  </ng-template>
                </p-dropdown>
              </th>
              <th>
              </th>
              <th>
                <input
                  (input)="filterByMessage($event)"
                  class="p-column-filter"
                  pInputText
                  placeholder="Search"
                  type="text">
              </th>
              <th>
              </th>
              <th>

              </th>
              <th>

              </th>
            </tr>

          </ng-template>
          <ng-template let-item let-rowIndex pTemplate="body">
            <tr>
              <td>
                <span
                  [class]="'severity-badge severity-' + Severity[item.risk_severity]">{{ Severity[item.risk_severity] }}
                </span>
              </td>

              <td>
                <div>{{item.timestamp  | date: 'MMM d, y, hh:mm:ss'}}</div>
              </td>

              <td>{{item.message}}</td>

              <td class="level" style="color: {{levelToColor(item.level)}}">
                <div>{{item.level}}</div>
              </td>

              <td class="semantics text-center" style="color: {{predictionToColor(item.prediction)}}"
              >{{semanticAnomalyToText(item.prediction)}}
              </td>

              <td class="semantics text-center" style="color: {{addedToColor(item.added_state)}}"
              >{{addedStateToText(item.added_state)}}
              </td>

            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>



