<div class="row" style="width: 100%; height: 100%;  padding-right: 5%; padding-left: 5%">

  <div class="col-md-3" tourAnchor="anchorApplications" style="background-color: #222b45; height: 100%">

    <div class="row user_info">
      <!--      <nb-card class="p-3 row-one">-->
      <div class="row no-gutters p-3 row-one">
        <div class="col" align="center">
          <p class="mb-3">Ingestion <b>private-key</b></p>
          <p class="mb-3"><samp>{{key}}</samp></p>
        </div>
      </div>
      <!--        <div class="row">-->
      <!--          <div class="col" style="margin-left: 20px">-->
      <!--            <p class="key_text"><b>{{key}}</b></p>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </nb-card>-->
    </div>
    <!--    <nb-card>-->
    <!--      <nb-card-header>Select billing plan</nb-card-header>-->
    <!--      <nb-card-body  align="center">-->

    <!--        <div><p>Quantity in GB per month.</p> <p>Every GB costs 2 Euro</p></div>-->

    <!--        <button nbButton shape="round" (click)="minus()" ><i class="fa fa-minus"></i> </button>-->
    <!--        <input nbInput  style="width: 60%" type="text" [value]="quantity">-->
    <!--        <button nbButton shape="round" (click)="plus()"><i class="fa fa-plus"></i> </button>-->
    <!--        <p>Total cost per month: {{quantity * 2}}.00 Euro</p>-->
    <!--        <div *ngIf="!hasPaid">-->
    <!--        <button nbButton style="width: 90%;" shape="round" (click)="stripeCLick()">SUBSCRIBE</button>-->
    <!--        </div>-->
    <!--        <div *ngIf="hasPaid">-->
    <!--          <button nbButton style="width: 90%;" shape="round" (click)="stripeCLick()">UPDATE SUBSCRIPTION</button>-->
    <!--        </div>-->
    <!--        <div style="margin-top: 10px">-->
    <!--        <button nbButton style="width: 90%;" shape="round" (click)="stripeCustomerPortal()">MANAGE SUBSCRIPTION</button>-->
    <!--        </div>-->
    <!--      </nb-card-body>-->

    <!--    </nb-card>-->
    <div class="row integration_types">
      <nb-card class="p-3 row-one" style="border: none">
        <div class="row no-gutters">
          <div class="col">
            <h6><b>Sources</b></h6>
          </div>
        </div>
        <div class="row justify-content-center">
<!--                    <div class=".col-6 .col-md-4" style="margin-bottom: 10px">-->
<!--&lt;!&ndash;          <button nbButton shape="round" style="text-transform: none" class="demo-app-btn" type="button"&ndash;&gt;-->
<!--&lt;!&ndash;              (click)="onLoadDemoApplications()">&ndash;&gt;-->
<!--&lt;!&ndash;        {{loadDemoAppBtn}}&ndash;&gt;-->
<!--&lt;!&ndash;      </button>&ndash;&gt;-->
<!--    </div>-->

          <nb-list>
            <nb-list-item  (click)="onRestBtn()">
              {{restBtn}}
            </nb-list-item>
            <nb-list-item (click)="onDockerBtn()">
              {{dockerBtn}}
            </nb-list-item>
            <nb-list-item  (click)="onUploadBtn()">
              {{uploadBtn}}
            </nb-list-item>
          </nb-list>


<!--          <div class=".col-6 .col-md-4">-->
<!--            <button nbButton shape="round" style="text-transform: none" class="rest-btn" type="button"-->
<!--                    ">-->
<!--              -->
<!--            </button>-->
<!--          </div>-->
<!--          <div class=".col-6 .col-md-4" style="margin-bottom: 10px">-->
<!--            <button nbButton shape="round" style="text-transform: none" class="python-btn" type="button"-->
<!--                    (click)="onPythonBtn()">-->
<!--              {{pythonBtn}}-->
<!--            </button>-->
<!--          </div>-->
<!--          <div class=".col-6 .col-md-4" style="margin-bottom: 10px">-->
<!--            <button nbButton shape="round" style="text-transform: none" class="docker-btn" type="button"-->
<!--                    (click)="onDockerBtn()">-->
<!--              {{dockerBtn}}-->
<!--            </button>-->
<!--          </div>-->

<!--          <div class=".col-6 .col-md-4" style="margin-bottom: 10px">-->
<!--            <button nbButton shape="round" style="text-transform: none" class="upload-btn" type="button"-->
<!--                    (click)="onUploadBtn()">-->
<!--              {{uploadBtn}}-->
<!--            </button>-->
<!--          </div>-->



        </div>
      </nb-card>
    </div>

    <div class="row create_new_app">
      <nb-card class="p-3 row-one" style="border: none">
        <div class="row no-gutters">
          <div class="col">
            <h6 class="mb-3">Applications</h6>
          </div>
        </div>
        <div class="row">
          <div class="col" style="margin-bottom: 30px">
            <form [formGroup]="form" (submit)="createApplication()" aria-labelledby="title">
              <div class="row">
                <div class="col-lg-12 col-xl-8" style="margin-top: 3px">
                  <input nbInput class="mr-2" type="text" formControlName="name" id="name"
                         placeholder="Application name" [required]="true"
                         [attr.aria-invalid]="form.invalid && form.touched ? true : null">
                  <ng-container *ngIf="form.controls['name'].invalid && form.touched">
                    <p class="error-message" *ngIf="form.controls['email'].errors?.required">
                      Application name is required!
                    </p>
                  </ng-container>
                </div>
                <div class="col-lg-12 col-xl-4">
                  <button nbButton class="create-app-btn" status="success" [disabled]="!form.valid">Create</button>
                </div>
              </div>
            </form>
          </div>

          <nb-list *ngIf="applications.length > 0">
            <nb-list-item *ngFor="let row of applications">
            <tr class="col">
              <td class="col-1">{{row.id}}</td>
              <td class="col-10">{{row.name}}</td>
              <td class="col-1" style="text-align: left"><i (click)="removeApplication(row.id)" [title]='"Delete application"'
                     class="ml-3 fas fa-trash pointer"></i></td>

              <!--              <td>-->
              <!--                <i [title]="row.status" *ngIf="row.status == 'IN_PROGRESS'" class="ml-3 fas fa-spinner fa-spin"></i>-->
              <!--                <i [title]="row.status" *ngIf="row.status == 'ACTIVE'" class="ml-3 fas fa-check-circle"></i>-->
              <!--              </td>-->
            </tr>
              </nb-list-item>
          </nb-list>

<!--          <table class="mt-3 table table-striped table-borderless" *ngIf="applications.length > 0">-->
<!--            <thead>-->
<!--            <tr>-->
<!--              <th style="width: 15%">Id</th>-->
<!--              <th style="width: 80%">Name</th>-->
<!--              <th style="width: 10%"></th>-->
<!--              &lt;!&ndash;              <th scope="col">Status</th>&ndash;&gt;-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr *ngFor="let row of applications">-->
<!--              <td>{{row.id}}</td>-->
<!--              <td>{{row.name}}</td>-->
<!--              <td style="text-align: left"><i (click)="removeApplication(row.id)" [title]='"Delete application"'-->
<!--                     class="ml-3 fas fa-trash pointer"></i></td>-->

<!--              &lt;!&ndash;              <td>&ndash;&gt;-->
<!--              &lt;!&ndash;                <i [title]="row.status" *ngIf="row.status == 'IN_PROGRESS'" class="ml-3 fas fa-spinner fa-spin"></i>&ndash;&gt;-->
<!--              &lt;!&ndash;                <i [title]="row.status" *ngIf="row.status == 'ACTIVE'" class="ml-3 fas fa-check-circle"></i>&ndash;&gt;-->
<!--              &lt;!&ndash;              </td>&ndash;&gt;-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
          <div class="text-center">
            <p class="mt-3" *ngIf="applications.length == 0"><i>No current applications</i></p>
          </div>
        </div>
      </nb-card>
    </div>



  </div>

  <div class="col-4" style="margin-left: 50px">
    <ng-container *ngIf="python">
      <div class="row description">
        <!--      <nb-card class="p-2 rows" style="width: 100%">-->
        <div class="col">
          <div class="row">
            <h6>Python-SDK Usage</h6>
          </div>
          <div class="row">
            <p class="dscr">To start sending logs from a Python script you need to install the logsight.ai Python-SDK:</p>
            <pre><code
              style="color: white">pip install logsight-sdk-py</code></pre>
          </div>
        </div>
        <!--        </nb-card>-->
      </div>
      <br>
      <div class="row user_guidance">
        <div class="col">
          <div class="row">
            <h6>Endpoint details</h6>
          </div>
          <div class="row">
            <p class="dscr">To use the logsight.ai Python-SDK in your Python code, you need to initialize the logger with
              the following attributes: </p>
            <table class="table table-borderless">
              <tr>
                <th>PRIVATE_KEY</th>
                <td>The private-key which is used to validate your authenticity.</td>
              </tr>
              <tr>
                <th>APP_NAME</th>
                <td>The name of your application/service. For example, a company "x" wants to debug their test
                  environment they might insert the “x_test”
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

<div class="row user_guidance pt-2">
            <div class="col">
              <div class="row">
                <h6>Integration help?</h6>
              </div>
              <div class="row">
                <p class="dscr">Are you interested in more details about logsight.ai? Read the docs at <a href="https://docs.logsight.ai">Docs | logsight.ai </a>, or feel free to <a href="mailto:service@logsight.ai">contact us 24/7.</a></p>
              </div>
            </div>
          </div>

    </ng-container>


    <ng-container *ngIf="docker">
      <div class="row description">
        <!--      <nb-card class="p-2 rows" style="width: 100%">-->
        <div class="col">
          <div class="row">
            <h6>Docker Usage</h6>
          </div>
          <div class="row">
            <p class="dscr">Filebeat simplifies the collection, parsing, and visualization of common log formats.
To start sending logs from your system to logsight.ai via Filebeats you need to execute the following steps described in the docs:</p>
          </div>
        </div>
        <!--        </nb-card>-->
      </div>

      <div class="row user_guidance">
        <div class="col">
<!--          <div class="row">-->
<!--            <h6>Download the connector script</h6>-->
<!--          </div>-->
          <div class="row">
            <a href="https://docs.logsight.ai/#/shipping_logs/filebeats"><p style="text-underline-color: white">Docs | Shipping logs via Filebeats</p></a>

          </div>



        <div class="row user_guidance pt-2">
            <div class="col">
              <div class="row">
                <h6>Integration help?</h6>
              </div>
              <div class="row">
                <p class="dscr">Are you interested in more details about logsight.ai? Read the docs at <a href="https://docs.logsight.ai">Docs | logsight.ai </a>, or feel free to <a href="mailto:service@logsight.ai">contact us 24/7.</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="rest">
      <div class="row description">
        <!--      <nb-card class="p-2 rows" style="width: 100%">-->
        <div class="col">
          <div class="row">
            <h4>REST API</h4>
          </div>
          <div class="row">
            <p class="dscr">logsight.ai exposes an API that allows you to send your logs from any platform. We automatically parse and analyze your logs and provide actionable insights.</p>
          </div>
        </div>
        <!--        </nb-card>-->
      </div>
      <div class="row user_guidance">
        <div class="col">
          <div class="row">
            <h6>Authorization</h6>
          </div>
          <div class="row">
            <p class="dscr">You need to obtain authorization token via sending POST request with the following parameters:</p>
            <table class="table table-bordered">
              <tr>
                <th>URL</th>
                <td>http://localhost:4200/api/auth/login</td>
              </tr>
              <tr>
                <th>HTTP method</th>
                <td>POST</td>
              </tr>
              <tr>
                <th>Content type</th>
                <td>application/json</td>
              </tr>
            </table>
          </div>

          <div class="row">
            <h6>Post body</h6>
          </div>
          <div class="row">
            <table class="table table-bordered">
              <tr>
                <th>email</th>
                <td>{{email}}</td>
              </tr>
              <tr>
                <th>password</th>
                <td>your password</td>
              </tr>
            </table>
          </div>

          <div class="row">
            <p class="dscr">This post request returns JSON in the following format:</p>
            <table class="table table-bordered">
              <tr>
                <th>token</th>
                <td>token string</td>
              </tr>
            </table>
          </div>

          <div class="row">
            <h6>Ingesting single or batch of log messages</h6>
          </div>

          <div class="row">
            <p class="dscr">Send POST requests to the following URL:</p>
            <table class="table table-bordered">
             <tr>
                <th>URL</th>
                <td>http://localhost:4200/<br>api/logs/{{key}}/APP/send_logs</td>
              </tr>
              <tr>
                <th>HTTP method</th>
                <td>POST</td>
              </tr>
              <tr>
                <th>Content type</th>
                <td>text\plain</td>
              </tr>
              <tr>
                <th>Authorization</th>
                <td>Bearer token</td>
              </tr>
            </table>
            <p class="dscr">APP is application name set by the user, which can contain lowercase letters, numbers, and underscores.</p>
            <p class="dscr">The body of the POST request is a text, which is a list of log messages as below.</p>
            <br>
            <code style="background-color: transparent" >
            [{{'"Sep 17 07:36:37 alexXPS NetworkManager[1441]: info [1631856997.3412] dhcp4 (wlp58s0): dhclient started with pid 9617",'}}
            <br>
            {{'"Sep 17 07:37:22 admin NetworkManager[1441]: warn [1631857042.3363] dhcp4 (wlp58s0): request timed out"'}}]
            </code>
          </div>
          <div class="row user_guidance">
            <div class="row">
              <div class="col">
                <br>
                <p class="dscr">You can send logs in batches to optimize network calls.</p>
              </div>
            </div>
          </div>

          <div class="row">
            <h6>Ingesting log files</h6>
          </div>

          <div class="row">
            <p class="dscr">Send POST requests to the following URL:</p>
            <table class="table table-bordered">
             <tr>
                <th>URL</th>
                <td>http://localhost:4200/<br>api/logs/{{key}}/APP/upload_file</td>
              </tr>
              <tr>
                <th>HTTP method</th>
                <td>POST</td>
              </tr>
              <tr>
                <th>Authorization</th>
                <td>Bearer token</td>
              </tr>
            </table>
            <p class="dscr">APP is application name set by the user, which can contain lowercase letters, numbers, and underscores.</p>
            <p class="dscr">The body of the POST request is a log file.</p>

            <table class="table table-bordered">
             <tr>
                <th>File</th>
                <td>Any log file</td>
              </tr>
            </table>
          </div>


          <div class="row user_guidance pt-2">
            <div class="col">
              <div class="row">
                <h6>Integration help?</h6>
              </div>
              <div class="row">
                <p class="dscr">Are you interested in more details about logsight.ai? Read the docs at <a href="https://docs.logsight.ai">Docs | logsight.ai </a>, or feel free to contact us <a href="mailto:service@logsight.ai">via email</a> or <a href="https://tawk.to/chat/61824e206bb0760a4940e874/1fjig2bmu"   target="_blank" rel="noopener noreferrer"> live chat</a>. </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </ng-container>


    <ng-container *ngIf="uploadFile">
      <div class="row description">
        <!--      <nb-card class="p-2 rows" style="width: 100%">-->
        <div class="col">
          <div class="row">
            <h4>Upload log files</h4>
          </div>
        </div>
      </div>
      <br>
      <br>

      <div class="col-sm">
        <div class="row">
          <p>Choose the application and your log file for which you want to upload data.</p>
        </div>
        <div class="row">
          <div class="col-sm">
            <nb-select fullWidth class="period-select" [(selected)]="this.applicationId"
                       (selectedChange)="applicationSelected($event)"
                       placeholder="Select application">
              <nb-option *ngFor="let app of applications" [value]="app.id" [nbSort]="app.name">
                {{ app.name }}
              </nb-option>
            </nb-select>
          </div>
        </div>
      </div>

      <br>
      <br>

      <div class="row user_guidance">

        <div class="col-sm" align="center">
          <div class="form-group">
            <br/> <input nbInput size="giant" style="text-align: left" fullWidth status="basic" type="file" id="file"
                         (change)="uploadFiles($event.target.files)">
          </div>

          <button nbButton size="small" style="text-transform: none" status="basic" shape="round" type="button"
                  (click)="RequestUpload()">Upload logs
          </button>
        </div>

        <!--          <div class="row user_guidance">-->
        <!--            <div class="col">-->
        <!--              <div class="row">-->
        <!--                <h6>Integration help?</h6>-->
        <!--              </div>-->
        <!--              <div class="row">-->
        <!--                <p class="dscr">Please contact us, we are happy to assist you with the integration!</p>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->

      </div>


          <div class="row user_guidance pt-2">
            <div class="col">
              <div class="row">
                <h6>Integration help?</h6>
              </div>
              <div class="row">
                <p class="dscr">Are you interested in more details about logsight.ai? Read the docs at <a href="https://docs.logsight.ai">Docs | logsight.ai </a>, or feel free to <a href="mailto:service@logsight.ai">contact us 24/7.</a></p>
              </div>
            </div>
          </div>
    </ng-container>
  </div>

  <div class="col-4" style="margin-left: 50px">
    <ng-container *ngIf="python">
      <h6>Example code</h6>
      <div>
        <pre><code style="background-color: transparent" [highlight]="code_python" (highlighted)="onHighlight($event)"
                   [lineNumbers]="true"></code></pre>
      </div>
    </ng-container>

    <ng-container *ngIf="docker">
      <h6>Example code</h6>
      <div>
        <pre><code style="background-color: transparent" [languages]="['yaml']" [highlight]="code_docker"
                   (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
      </div>
    </ng-container>

    <ng-container *ngIf="rest">
      <h6>Example code</h6>
      <div>
        <pre><code style="background-color: transparent" [languages]="['json']" [highlight]="code_rest"
                   (highlighted)="onHighlight($event)"
                   [lineNumbers]="true"></code></pre>
      </div>
    </ng-container>

    <ng-container *ngIf="uploadFile">
      <h6>Files</h6>
      <div>
        <pre><code style="background-color: transparent" [languages]="['json']" [highlight]="code_upload"
                   (highlighted)="onHighlight($event)"
                   [lineNumbers]="true"></code></pre>
<!--        <a href="../../../assets/data/json-native.json" download="JSON-native">Download</a>-->
<!--        <a href="../../../assets/data/json-native.json" download="JSON-native">Download</a>-->
<!--        <a href="../../../assets/data/json-native.json" download="JSON-native">Download</a>-->
      </div>
    </ng-container>
  </div>


  <!--  <div class="col" style="margin-left: 50px">-->
  <!--  <ng-container *ngIf="uploadFile">-->
  <!--      <h6>Upload log file</h6>-->

  <!--  </ng-container>-->

  <!--  </div>-->
</div>


<!--<div class="row" style="width: 100%">-->
<!--  <nb-card class="p-3" style="width: 100%">-->
<!--    <div class="row">-->
<!--      <div class="col-md-8">-->
<!--        <h6 class="mb-3">Create new application</h6>-->
<!--        <form class="col-lg-6 col-lg-8 col-sm-12 pl-0" [formGroup]="form" (submit)="createApplication()"-->
<!--              aria-labelledby="title">-->
<!--          <div class="form-control-group">-->
<!--            <label class="label mr-2" for="name">Application name:</label>-->
<!--            <input nbInput class="mr-3"-->
<!--                   type="text"-->
<!--                   formControlName="name"-->
<!--                   id="name"-->
<!--                   placeholder="Application name"-->
<!--                   [required]="true"-->
<!--                   [attr.aria-invalid]="form.invalid && form.touched ? true : null">-->
<!--            <ng-container *ngIf="form.controls['name'].invalid && form.touched">-->
<!--              <p class="error-message" *ngIf="form.controls['email'].errors?.required">-->
<!--                Application name is required!-->
<!--              </p>-->
<!--            </ng-container>-->

<!--            <button nbButton style="margin-bottom: 3px"-->
<!--                    status="success"-->
<!--                    [disabled]="!form.valid">-->
<!--              Create-->
<!--            </button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <p class="mb-3 text-right">Your key is: <b>{{key}}</b></p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nb-card>-->
<!--  <nb-card class="p-3" style="width: 100%">-->
<!--    <div class="row">-->
<!--      <div class="col-md-6">-->
<!--        <h6 class="mb-3">Applications</h6>-->
<!--        <table class="table table-striped">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th scope="col">Id</th>-->
<!--            <th scope="col">Name</th>-->
<!--            <th scope="col">Status</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor="let row of applications">-->
<!--            <td>{{row.id}}</td>-->
<!--            <td>{{row.name}}</td>-->
<!--            <td><i [title]="row.status" *ngIf="row.status == 'IN_PROGRESS'" class="ml-3 fas fa-spinner fa-spin"></i>-->
<!--              <i [title]="row.status" *ngIf="row.status == 'ACTIVE'" class="ml-3 fas fa-check-circle"></i>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nb-card>-->
<!--</div>-->
