.model-full {
  width: 100% !important;
  height: 100% !important;
  //margin: 20%;

  .cdk-visually-hidden {
    width: 99% !important;
    height: 99% !important;
  }

  nb-dialog-container {
    width: 100% !important;
    height: 100% !important;
  }
}

/deep/ .model-full {
  width: 80% !important;
  height: 80% !important;
}

/deep/ .model-full nb-dialog-container {
  width: 100% !important;
  height: 100% !important;
}
