.model-full {
  width: 100% !important;
  height: 100% !important;

  .cdk-visually-hidden {
    width: 99% !important;
    height: 99% !important;
  }

  nb-dialog-container {
    width: 100% !important;
    height: 100% !important;
  }
}

/deep/ .cdk-overlay-pane {
  width: 90% !important;
  height: 90% !important;
}

/deep/ nb-dialog-container {
  width: 100% !important;
  height: 100% !important;
}
