<nb-card class="model-full">
  <nb-card-body style="display: grid;">
    <line-chart *ngIf="type == 'LineChart'" [data]="data"></line-chart>
    <grouped-vertical-bar-chart *ngIf="type == 'GroupedVertical'" [data]="data"></grouped-vertical-bar-chart>
  </nb-card-body>
  <nb-card-footer class="text-right">
    <button (click)="dismiss()" _ngcontent-dth-c356="" nbbutton="" matripple="" outline="" class="mat-ripple appearance-outline size-medium shape-rectangle status-info ng-star-inserted nb-transition" aria-disabled="false" tabindex="0"> Close </button>
<!--    <button nbButton status="primary" (click)="dismiss()">Close</button>-->
  </nb-card-footer>
</nb-card>
