<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-lg-6">
        <p>Log Levels</p>
        <piechart [data]="pieChartData"></piechart>
      </div>
      <div class="col-lg-6">
        <p>Timeline of Logs</p>
        <stacked-area-chart [data]="stackedChartData"></stacked-area-chart>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-body>
    <div class="col-lg-12">
      <p>System Overview</p>
      <chart-heatmap [data]="heatmapData"></chart-heatmap>
    </div>
  </nb-card-body>
</nb-card>

<!--<nb-card>-->
<!--  <nb-card-body>-->
<!--    <div class="col-lg-12">-->
<!--      <p>System Overview</p>-->
<!--      <app> loading </app>-->
<!--    </div>-->
<!--  </nb-card-body>-->
<!--</nb-card>-->
