<div class="row">
  <div class="col-lg-8">
    <nb-card>
      <nb-card-body>
        <chart type="line" [data]="data" [options]="options"></chart>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>Levels</nb-card-header>
      <nb-card-body>
        <ngx-charts-advanced-pie-chart
          [scheme]="colorScheme"
          [results]="advancedPieData">
        </ngx-charts-advanced-pie-chart>
      </nb-card-body>
    </nb-card>
  </div>
</div>
