<div class="logo" style="padding-left: 40px">
  <a class="navbar-brand title" href="#"><img alt="logo" height="60" src="assets/img/logol.png"/></a>
</div>
<div *ngIf="!isEmailSent" style="color: #013b54; font-size: 18px; font-weight: 600">Reset password</div>
<br>

<form (submit)="resetPassword()" [formGroup]="formPassword" aria-labelledby="title">
  <div class="form-control-group">
    <input [attr.aria-invalid]="formPassword.invalid && formPassword.touched ? true : null" [required]="true" class="form-control" formControlName="password"
           id="formPassword"
           placeholder="Enter the new password" style="height: 3.5rem; text-align: left;"
           type="password">
    <ng-container *ngIf="formPassword.controls['password'].invalid && formPassword.touched">
      <p *ngIf="formPassword.controls['password'].errors?.minlength" class="error-message">
        Password length should be minimum of 8 characters.
      </p>
    </ng-container>
    <br>

    <input [attr.aria-invalid]="formPassword.invalid && formPassword.touched ? true : null" [required]="true" class="form-control"
           formControlName="repeatPassword" id="formRepeatPassword"
           placeholder="Repeat the new password" style="height: 3.5rem; text-align: left;"
           type="password">
    <ng-container *ngIf="formPassword.touched">
      <p *ngIf="formPassword.controls['repeatPassword'].errors?.minlength" class="error-message">
        Password length should be minimum of 8 characters.
      </p>
      <p *ngIf="!isMatching" class="error-message">
        Passwords are not matching
      </p>
    </ng-container>

  </div>
  <button *ngIf="!isSpinning" [disabled]="!formPassword.valid"
          class="btn btn-primary mb-0"
          fullWidth
          status="info"
          style="text-transform: none; background-color: #4154f1; width: 100%; height: 3.5rem">
    Reset password
  </button>

</form>
<section aria-label="Register" class="another-action" style="color: #013b54;">
  <p *ngIf="!isEmailSent">Do you know your password? <a class="text-link" routerLink="/auth/login">Login</a></p>
  <p *ngIf="!isEmailSent">Don't have an account? <a class="text-link" routerLink="/auth/register">Sign Up</a></p>
  <div *ngIf="isEmailSent" style="color: #013b54; font-size: 18px; font-weight: 600">An email with the new password was
    sent. Go to the <a class="text-link" routerLink="/auth/login">Login</a> page.
  </div>
</section>
