<div class="logo">
<a class="navbar-brand title" href="#"><img alt="logo" src="../../../../assets/images/logsight_logo.png" height="70" /></a>
</div>
  <h2 id="title" class="title" >Sign in</h2>
<br>
<form [formGroup]="form" (submit)="onLogin()" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="email">Email address:</label>
    <input nbInput
           fullWidth
           type="email"
           formControlName="email"
           id="email"
           pattern=".+@.+\..+"
           placeholder="Email address"
           autofocus
           [status]="form.controls['email'].dirty ? (form.controls['email'].invalid  ? 'danger' : 'success') : ''"
           [required]="true"
           [attr.aria-invalid]="form.invalid && form.touched ? true : null">
    <ng-container *ngIf="form.controls['email'].invalid && form.touched">
      <p class="error-message" *ngIf="form.controls['email'].errors?.required">
        Email is required!
      </p>
      <p class="error-message" *ngIf="form.controls['email'].errors?.pattern">
        Email is invalid!
      </p>
    </ng-container>
  </div>

<!--  <div class="form-control-group">-->
  <!--    <label class="label" for="password">Password:</label>-->
  <!--    <input nbInput-->
  <!--           fullWidth-->
  <!--           type="password"-->
  <!--           formControlName="password"-->
  <!--           id="password"-->
  <!--           placeholder="Password"-->
  <!--           autofocus-->
  <!--           [status]="form.controls['password'].dirty ? (form.controls['password'].invalid  ? 'danger' : 'success') : ''"-->
  <!--           [required]="true"-->
  <!--           [attr.aria-invalid]="form.invalid && form.touched ? true : null">-->
  <!--    <ng-container *ngIf="form.controls['password'].invalid && form.controls['password'].touched ">-->
  <!--      <p class="error-message" *ngIf="form.controls['password'].errors?.required">-->
  <!--        Password is required!-->
  <!--      </p>-->
  <!--    </ng-container>-->
  <!--  </div>-->

  <button nbButton
          fullWidth
          status="success"
          [disabled]="!form.valid">
    SIGN IN
  </button>
</form>

<section class="another-action" aria-label="Register">
  Don't have an account? <a class="text-link" routerLink="#">Sign Up</a>
</section>
