<main id="main" xmlns="http://www.w3.org/1999/html">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <div class="container" data-aos="fade-up">

      <div class="row gx-0">

        <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up">
          <div class="content">
            <h1>Impressum</h1>
            <!--            <h3>Who We Are</h3>-->
            <h2>logsight.ai GmbH</h2>
            <p> Sedanstraße 16 <br>
              12167, Berlin</p>
            <h2>Managing Directors (Geschäftsführung)</h2>
            <p>Alexander Acker</p>
            <h2>Commercial Register (Handelsregister)</h2>
            <p>Amtsgericht Berlin-Charlottenburg: HRB 233036 B</p>
            <h2>Contact (Kontakt)</h2>
            <p>In case of questions regarding the services you use from logsight.ai, feel free to contact us on: <br>
              <br> info@logsight.ai</p>
            <h2>VAT ID (Umsatzsteuer-ID)</h2>
            <p>Pending (Ausstehend) </p>
            <h2>Liability for content</h2>
            <p>As a service provider we are responsible according to § 7 Abs.1 TMG for our own contents on these pages
              according to the general laws. According to §§ 8 to 10 TMG, we are not obliged to monitor transmitted or
              stored third-party information or to investigate circumstances that indicate illegal activity.
              Obligations to remove or block the use of information in accordance with general laws remain unaffected by
              this. However, liability in this respect is only possible from the time of knowledge of a concrete
              violation of the law. As soon as we become aware of such infringements, we will remove the content
              immediately. </p>
            <h2>Liability for links</h2>
            <p>Our offer contains links to external websites of third parties, on whose contents we have no influence.
              Therefore, we cannot assume any liability for these external contents. The respective provider or operator
              of the pages is always responsible for the contents of the linked pages. The linked pages were checked for
              possible legal infringements at the time of linking. Illegal contents were not recognizable at the time of
              linking..
              A permanent control of the contents of the linked pages is not reasonable without concrete evidence of an
              infringement. As soon as we become aware of any legal infringements, we will remove such links
              immediately.</p>
            <h2>Copyright</h2>
            <p>
              The contents and works on these pages created by the site operators are subject to German copyright law.
              Duplication, processing, distribution and any form of commercialization of such material beyond the scope
              of the copyright law shall require the prior written consent of its respective author or creator.
              Downloads and copies of these pages are only permitted for private, non-commercial use.
              Insofar as the content on this site was not created by the operator, the copyrights of third parties are
              respected. In particular, contents of third parties are marked as such. Should you nevertheless become
              aware of a copyright infringement, please inform us accordingly. As soon as we become aware of any
              infringements, we will remove such content immediately.
              <br>
              <br>
              Source: e-recht24.de</p>

            <h2>Haftung für inhalte</h2>
            <p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den
              allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht
              verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu
              forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
              <br>
              <br>
              Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen
              Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der
              Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
              Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
            <h2>Haftung für links</h2>
            <p>
              Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben.
              Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der
              verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die
              verlinkten
              Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte
              waren zum Zeitpunkt der Verlinkung nicht erkennbar.
              <br>
              <br>
              Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer
              Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links
              umgehend entfernen.</p>
            <h2>Urheberrecht</h2>
            <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen
              Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
              Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
              Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
              <br>
              <br>
              Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter
              beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
              Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei
              Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
              <br>
              <br>
              Quelle: e-recht24.de
            </p>


          </div>
        </div>

      </div>
    </div>

  </section><!-- End About Section -->

  <!-- ======= Values Section ======= -->
</main>
