#chart-parent {
  display: grid;
  height: 175px;
}

::ng-deep
.ngx-charts g .grid-panel.odd rect {
  fill: none;
}
::ng-deep
.chart-legend .legend-labels { background: rgba(255, 255, 255, 0) !important; }



::ng-deep{

  /* Wrap the label text if it ends up being longer than the max width */
  .legend-label-text {
    white-space: normal !important;
    width: 100% !important;
  }
  .active {
    .legend-label-text {
      color: #000000 !important;
    }
  }
}
