<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!--  <title>FlexStart Bootstrap Template - Index</title>-->
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/61824e206bb0760a4940e874/1fjig2bmu';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="3ed74958-aec3-46fd-8c48-98d6688d7c41" data-blockingmode="auto" type="text/javascript"></script>
  <!-- =======================================================
  * Template Name: FlexStart - v1.4.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

<header id="header" class="header fixed-top" style="background-color: white; width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;">
  <div class="container container-xl d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/img/logol.png" style="height: 3.5rem" alt="">
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="index.html">Home</a></li>
                <li><a class="nav-link scrollto" href="#values">Spotlight</a></li>
        <li><a class="nav-link scrollto" href="#features">Features</a></li>
        <!--        <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>-->
        <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
        <li><a class="nav-link scrollto" href="https://docs.logsight.ai">Resources</a></li>

        <!--        <li><a href="blog.html">Blog</a></li>-->
        <!--        <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>-->
        <!--          <ul>-->
        <!--            <li><a href="#">Drop Down 1</a></li>-->
        <!--            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>-->
        <!--              <ul>-->
        <!--                <li><a href="#">Deep Drop Down 1</a></li>-->
        <!--                <li><a href="#">Deep Drop Down 2</a></li>-->
        <!--                <li><a href="#">Deep Drop Down 3</a></li>-->
        <!--                <li><a href="#">Deep Drop Down 4</a></li>-->
        <!--                <li><a href="#">Deep Drop Down 5</a></li>-->
        <!--              </ul>-->
        <!--            </li>-->
        <!--            <li><a href="#">Drop Down 2</a></li>-->
        <!--            <li><a href="#">Drop Down 3</a></li>-->
        <!--            <li><a href="#">Drop Down 4</a></li>-->
        <!--          </ul>-->
        <!--        </li>-->
<!--        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>-->
        <li><a class="getstarted scrollto btn-login" (click)="redirectToTryLogsight()">Quickstart</a></li>
        <li><a class="getstarted scrollto btn-login" (click)="redirectToLogin()">Login</a></li>
      </ul>
<!--      <i class="bi bi-list mobile-nav-toggle"></i>-->
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
<router-outlet></router-outlet>
<footer id="footer" class="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h4>Our Newsletter</h4>
<!--            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>-->
          </div>
          <div class="col-lg-6">
        <iframe width="500em" height="350em" src="https://d1be8b16.sibforms.com/serve/MUIEAOq4olz1bMtS1HXwzj1pAhj31gCFzaRuCgFMBmfEvOgt5ciRSbXCr_mPXEjDZfwTE4rgLijvYzBK8zfkafS8JGoUt-h4FoKZrCHDm925XD5j5X3IxEbm-oWQWJxXGNzX-eN_iVLESQ67kDsQxaVXfF_Xdcxbp7ATF5d99a1Ubt5kqbyG707Xw_ZaAc9rHf-3W3W4w_y8xS8_" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
            </div>
        </div>
      </div>
    </div>

  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logol.png" style="height: 3.5rem" alt="">
          </a>
          <div style="width: 50%">
                    <p>AI-powered log analytics with scalable performance and customizable failure models</p></div>
          <div class="social-links mt-3">
            <a href="https://twitter.com/logsight" class="twitter"><i class="bi bi-twitter"></i></a>
            <!--            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>-->
            <a href="https://www.youtube.com/channel/UCt9NrwO9s4jPEwGf_YO6yzg" class="instagram"><i
              class="bi bi-youtube bx bxl-instagram"></i></a>
            <a href="https://www.linkedin.com/company/logsight-ai" class="linkedin"><i class="bi bi-linkedin bx bxl-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['/']">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['/quickstart']">Quickstart</a></li>
            <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['/auth/login']">Login</a></li>
            <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['/','impressum']">Impressum</a></li>
            <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['/','terms-conditions']">Terms of service</a></li>
            <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['/','privacy-policy']">Privacy policy</a></li>
          </ul>
        </div>

        <!--        <div class="col-lg-2 col-6 footer-links">-->
        <!--          <h4>Our Services</h4>-->
        <!--          <ul>-->
        <!--            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>-->
        <!--            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>-->
        <!--            <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>-->
        <!--            <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>-->
        <!--            <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>-->
        <!--          </ul>-->
        <!--        </div>-->

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            <!--            A108 Adam Street <br>-->
            <!--            New York, NY 535022<br>-->
            <!--            United States <br><br>-->
            <!--            <strong>Phone:</strong> +1 5589 55488 55<br>-->
            <strong>Email:</strong> info@logsight.ai<br>
          </p>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy;<strong><span>logsight.ai </span></strong> All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End Footer -->
</body>
</html>
