<div [ngStyle]="{'display':'grid', 'height': heatmapHeight}">
  <ngx-charts-heat-map
    [scheme]="colorScheme"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [results]="data"
    (select)="select.emit($event)"
    [ngStyle]="{'fill':'white'}">
    <ng-template #tooltipTemplate let-model="model">
      <div style="text-align: left; max-width: 250px; font-size: 10pt; padding: 5px; text-align: center; display:inline;">
        Average number of incidents in the interval <div style="font-size: 12pt">{{model.value}}</div>
      </div>
    </ng-template>

  </ngx-charts-heat-map>
</div>
