<div [ngStyle]="{'display':'grid', 'height': heatmapHeight}" xmlns="http://www.w3.org/1999/html">
  <ngx-charts-heat-map
    [scheme]="colorScheme"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [maxXAxisTickLength]="20"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [results]="data"
    (select)="select.emit($event)"
    [ngStyle]="{'fill':'white'}">
    <ng-template #tooltipTemplate let-model="model">
      <div style="text-align: left;">
        <div *ngFor="let d of data; let i = index">
          <div *ngFor="let e of d.series; let j= index">
            <div *ngIf="model .name == e.name && model .series == d.name">
              <p> Number of incidents:
              {{e.count}}
              </p>
              <p>
              Severity score:
              {{model .value}}
               </p>
            </div>
          </div>

        </div>
      </div>
    </ng-template>

  </ngx-charts-heat-map>
</div>
