.search-button {
  margin-top: 27px;
  height: 39px
}

.pointer:hover {
  cursor: pointer;
  opacity: .7;
}

.font-size-c {
  font-size: 13px;
}

.chips {
  background-color: #2196F3;
  border-radius: 8px;
  padding: 6px;
  margin: 2px;
  color: #ffffff;
}
