.search-button {
  margin-top: 27px;
  height: 39px
}

.pointer:hover {
  cursor: pointer;
  opacity: .7;
}

.font-size-c {
  font-size: 12px;
}

.chips {
  background-color: #edf1f7;
  border-radius: 8px;
  padding: 4px;
  margin-right: 8px;
  color: #222b45;
}
