<div align="center">

  <h2> Choose a way to connect</h2>
  Let's get your logs to your Logsight.AI.
</div>
<br>
<br>
<div class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card>
    <nb-card-body align="center">
      <h3>Explore the power of AI without setup</h3>
      <h6>Use our sample log data to explore logsight AI features, no production data required.</h6>
      <button nbButton class="python-btn" type="button" (click)="createApplication()"> Try now
      </button>
    </nb-card-body>
  </nb-card>

<div align="center">

  <h4>OR</h4>
  Send us logs
</div>
<br>
  <br>
  <nb-card>
    <nb-card-body align="center">
      <h3>Via plugins</h3>
      <h6>We provide integrations for various platforms</h6>

      <p> We need to list here in cards</p>
    </nb-card-body>
  </nb-card>

</div>
