<div *ngIf="!loading">
  <div class="logo">
    <a class="navbar-brand title" href="#"><img alt="logo" src="../../../../assets/images/logsight_logo.png" height="70" /></a>
  </div>
  <br>
  <br>
  <h6 *ngIf="user" class="text-center">Welcome {{user.email}}</h6>
  <div *ngIf="activationSuccess" class="text-center">
    <h6>Your account has been successfully activated. Explore your logs with the power of AI.</h6>
    <p>You will shortly be redirected to your dashboard with preloaded sample data.</p>
<!--    <a nbButton [routerLink]="['/auth', 'login']"-->
<!--       fullWidth-->
<!--       status="success">-->
<!--      SIGN IN-->
<!--    </a>-->
  </div>

  <div *ngIf="!activationSuccess" class="text-center">
    <h5>We are really sorry, some error happened. Your account is not successfully activated.</h5>
  </div>
</div>
