th, td {
  color: white;
  font-weight: 600;
  font-size: 14px;
}

ng-scrollbar {
  --scrollbar-thumb-color: rgb(255 255 255 / 60%) !important;
  --scrollbar-border-radius: 5px;
  --scrollbar-padding: 0px !important;
  --scroll-view-margin: 0 !important;
  --scrollbar-track-color: #c13f3f00;
  --scrollbar-size: 10px !important;
}

///deep/ .select-button {
//  background-color: white !important;
//  color: #495057;
//}


.template {
  color: red;
}

.template:hover {
  cursor: pointer;
  opacity: .7;
}

table {
  table-layout: fixed;
  width: 100%;
}

.table-height {
  height: 800px;
  overflow-y: auto
}

.error {
  color: red !important;
  font-weight: 600;
}


.info {
  color: #00b0e8 !important;
  font-weight: 600;
}

.severe {
  color: #ff0000 !important;
  font-weight: 600;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
}
