ng-scrollbar {
  --scrollbar-thumb-color: rgb(255 255 255 / 60%) !important;
  --scrollbar-border-radius: 5px;
  --scrollbar-padding: 0px !important;
  --scroll-view-margin: 0 !important;
  --scrollbar-track-color: #c13f3f00;
  --scrollbar-size: 10px !important;
}

th, td {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.error {
  color: #ff0000 !important;
  font-weight: 600;
  padding-top: 10%;
}

.info {
  color: #00b0e8 !important;
  font-weight: 600;
}

.severe {
  color: #ff0000 !important;
  font-weight: 600;
}

/deep/ .template:hover {
  cursor: pointer;
  opacity: .7;
}

p {
  margin: 0;
}

.parent {
  margin-bottom: 10px !important;
}

.main-row {
  margin-bottom: 30px;
}

.details {
  font-weight: bold;
  //font-style: italic;
  color: #fff88f
}

.center {
  display: flex;
  justify-content: center;
  align-items: center
}
