<div class="row" style="padding-right: 5%; display: flex; justify-content: flex-end; width: 100%">
  <predefined-times [predefinedTimes]="predefinedTimes" (deletePredefinedTime)="onDeletePredefinedTime($event)"
                    (selectPredefinedTime)="onSelectPredefinedTime($event)">

  </predefined-times>
  <button title="Select date range" [nbPopover]="dateTimePicker" nbPopoverPlacement="bottom" nbButton
          (click)="openPopover()"
          nbPopoverTrigger="noop" size="small" shape="round"><i class="fa fa-calendar"></i></button>
</div>

<hr size="30" noshade style="margin-left: 5%; margin-right: 5%; background-color: #4b4b4b">
<div class="row" style="padding-left: 5%;padding-right: 5%">
  <div class="col-3" tourAnchor="anchorLogLevels">
    <h6 style="font-weight: 600">Log levels
      <nb-icon icon="info-outline"
               nbTooltip="A log level is information about the severity of a given log message is. It is a powerful way of distinguishing log events from each other. If the log levels are used properly, then troubleshooting becomes easier."
               nbTooltipStatus="basic" nbButton status="basic"></nb-icon>
    </h6>
    <piechart [data]="pieChartData"></piechart>
  </div>


  <div class="col-5" tourAnchor="anchorCognitiveAnomalies">
    <h6 style="font-weight: 600">Cognitive anomalies
      <nb-icon icon="info-outline"
               nbTooltip="Cognitive anomalies are identified log messages that have negative semantic meaning in software systems. The AI system in the background distinguishes normal and anomaly log messages based on a model that is trained on millions of log messages."
               nbTooltipStatus="basic" nbButton status="basic"></nb-icon>
    </h6>
    <grouped-vertical-bar-chart-2d [data]="barData"></grouped-vertical-bar-chart-2d>
  </div>

  <div class="col-4" tourAnchor="anchorLogLevelDistribution">
    <h6 style="font-weight: 600">Log level distribution
      <nb-icon icon="info-outline"
               nbTooltip="Log level evolution through time. If you notice any strange changes, it might be an indication of a problem!"
               nbTooltipStatus="basic" nbButton status="basic"></nb-icon>
    </h6>
    <stacked-area-chart [data]="stackedChartData"></stacked-area-chart>
  </div>

</div>
<hr size="30" noshade style="margin-left: 5%; margin-right: 5%; background-color: #4b4b4b">
<div style="padding-left: 5%;padding-right: 5%; overflow-y:auto; height: 300px" tourAnchor="anchorSystemOverview" >
    <ng-scrollbar>
  <h6 style="font-weight: 600">Application overview
    <nb-icon icon="info-outline"
             nbTooltip="Color variations from green to red is analogous to system state from normal to anomalous (potential failure). Clicking on a red box will redirect you to a detailed view of the period!"
             nbTooltipStatus="basic" nbButton status="basic"></nb-icon>
  </h6>
  <chart-heatmap [heatmapHeight]="heatmapHeight" [data]="heatmapData"
                 (select)="onHeatMapSelect($event)"></chart-heatmap>
  </ng-scrollbar>
</div>
<hr size="30" noshade style="margin-left: 5%; margin-right: 5%; background-color: #4b4b4b">
<div style="padding-left: 5%;padding-right: 5%" tourAnchor="anchorTopIncidents" align="left">
  <div class="row" style="margin-bottom: 20px">
    <div class="col" style="text-align: left">
  <h6 style="font-weight: 600">Top {{numberOfIncidents}} incidents
    <nb-icon icon="info-outline"
             nbTooltip="Top 5 most severe AI detected incidents in the specified time period. Clicking on View Details will show you details of the incident!"
             nbTooltipStatus="basic" nbButton status="basic"></nb-icon>
  </h6>
      </div>
    <div class="col" style="text-align: right">
    <form [formGroup]="numberOfIncidentsFormGroup" (submit)="changeTopKIncidents()">
    <label class="mr-2" for="numberOfIncidents">Number of incidents: </label>
    <input type="number" style="width: 100px" class="mr-2" nbInput formControlName="numberOfIncidents"
           id="numberOfIncidents"
           placeholder="Choose number of incidents"/>
    <button nbButton type="submit" shape="round" style="text-transform: none" size="small">Select</button>
  </form>
      </div>
    </div>
  <nb-card>
    <nb-card-body>
      <div class="col-lg-12">

        <div *ngFor="let topKIncident of topKIncidents">
          <!--scAnomalies-->
          <ng-container *ngIf="topKIncident.scAnomalies.length > 0">
            <div class="row">
              <div class="col-md-11">
                <div *ngIf="topKIncident.scAnomalies.length > 1">
                  <div class="main-row">
                    <div class="row parent">
                      <div class="col-md-1">
                 <span style="float: left; color: yellow; font-weight: 600; font-size: 14px"
                       [class.error]="topKIncident.scAnomalies[0]?.actualLevel == 'ERROR'"
                       [class.severe]="topKIncident.scAnomalies[0]?.actualLevel == 'SEVERE'"
                       [class.info]="topKIncident.scAnomalies[0]?.actualLevel == 'INFO'"
                       class="mr-2">{{topKIncident.scAnomalies[0]?.actualLevel}}</span>
                      </div>
                      <div class="col-md-11" style="font-weight: 600; font-size: 14px">
                        <app-ad-banner [row]="topKIncident.scAnomalies[0]"></app-ad-banner>
                      </div>
                    </div>
                    <div class="row parent">
                      <div class="col-md-1">
                   <span style="float: left; color: yellow; font-weight: 600; font-size: 14px"
                         [class.error]="topKIncident.scAnomalies[topKIncident.scAnomalies.length-1]?.actualLevel == 'ERROR'"
                         [class.severe]="topKIncident.scAnomalies[topKIncident.scAnomalies.length-1]?.actualLevel == 'SEVERE'"
                         [class.info]="topKIncident.scAnomalies[topKIncident.scAnomalies.length-1]?.actualLevel == 'INFO'"
                         class="mr-2">
                {{topKIncident.scAnomalies[topKIncident.scAnomalies.length - 1]?.actualLevel}}</span>
                      </div>
                      <div class="col-md-11" style="font-weight: 600; font-size: 14px">
                        <app-ad-banner
                          [row]="topKIncident.scAnomalies[topKIncident.scAnomalies.length - 1]"></app-ad-banner>
                      </div>
                    </div>
                    <div class="row offset-md-1 details">
                      <span class="pr-2"><button nbButton style="background-color: #6f5b5c; color: white" disabled
                                                 status='danger' shape="round" size="tiny"><nb-icon
                        icon="cube"></nb-icon>
                        {{topKIncident?.appName.split('_').slice(1, topKIncident?.appName.split('_').length
                          - 1).join(' ')}}</button></span>
                      <span *ngIf="topKIncident?.scAnomalies?.length==0" class="pr-2"> <button nbButton
                                                                                               style="background-color: #6f5b5c; color: white"
                                                                                               disabled
                                                                                               status='danger'
                                                                                               shape="round"
                                                                                               size="tiny"><nb-icon
                        icon="alert-triangle"></nb-icon>
                        {{topKIncident?.scAnomalies?.length}} critical event(s) </button></span>
                      <span *ngIf="topKIncident?.scAnomalies?.length>0" class="pr-2"> <button nbButton
                                                                                              style="background-color: #ff3d71; color: white"
                                                                                              disabled status='danger'
                                                                                              shape="round"
                                                                                              size="tiny"><nb-icon
                        icon="alert-triangle"></nb-icon>
                        {{topKIncident?.scAnomalies?.length}} critical event(s) </button></span>

                      <span *ngIf="topKIncident?.semanticAD?.length==0" class="pr-2"><button nbButton
                                                                                             style="background-color: #6f5b5c; color: white"
                                                                                             disabled status='danger'
                                                                                             shape="round"
                                                                                             size="tiny"><nb-icon
                        icon="alert-circle"></nb-icon>
                        {{topKIncident?.semanticAD?.length}} cognitive anomalies</button></span>
                      <span *ngIf="topKIncident?.semanticAD?.length>0" class="pr-2"><button nbButton
                                                                                            style="background-color: #ff3d71; color: white"
                                                                                            disabled status='danger'
                                                                                            shape="round" size="tiny"><nb-icon
                        icon="alert-circle"></nb-icon>
                        {{topKIncident?.semanticAD?.length}} cognitive anomalies</button></span>

                      <span *ngIf="topKIncident?.countAD?.length>0" class="pr-2"><button nbButton
                                                                                         style="background-color: #ff3d71; color: white"
                                                                                         disabled status='danger'
                                                                                         shape="round" size="tiny"><nb-icon
                        icon="flip-2"></nb-icon>
                        {{topKIncident?.countAD?.length}} flow anomalies</button></span>
                      <span *ngIf="topKIncident?.countAD?.length==0" class="pr-2"><button nbButton
                                                                                          style="background-color: #6f5b5c; color: white"
                                                                                          disabled status='danger'
                                                                                          shape="round" size="tiny"><nb-icon
                        icon="flip-2"></nb-icon>
                        {{topKIncident?.countAD?.length}} flow anomalies</button></span>

                      <span *ngIf="topKIncident?.newTemplates?.length>0" class="pr-2"><button nbButton
                                                                                              style="background-color: #ff3d71; color: white"
                                                                                              disabled status='danger'
                                                                                              shape="round"
                                                                                              size="tiny"><nb-icon
                        icon="bulb"></nb-icon>
                        {{topKIncident?.newTemplates?.length}} new log types</button></span>
                      <span *ngIf="topKIncident?.newTemplates?.length==0" class="pr-2"><button nbButton
                                                                                               style="background-color: #6f5b5c; color: white"
                                                                                               disabled
                                                                                               status='danger'
                                                                                               shape="round"
                                                                                               size="tiny"><nb-icon
                        icon="bulb"></nb-icon>
                        {{topKIncident?.newTemplates?.length}} new log types</button></span>
                      <span class="pr-2"><button nbButton style="background-color: #6f5b5c; color: white" disabled
                                                 shape="round" size="tiny"><nb-icon icon="clock"></nb-icon>
                        {{moment(topKIncident?.startTimestamp)}}</button></span>
                    </div>
                  </div>

                </div>
                <div *ngIf="topKIncident.scAnomalies.length <= 1">
                  <div class="row main-row">
                    <div class="col-md-1">
                <span style="float: left; color: yellow; font-weight: 600; font-size: 14px"
                      [class.error]="topKIncident.scAnomalies[0]?.actualLevel == 'ERROR'"
                      [class.severe]="topKIncident.scAnomalies[0]?.actualLevel == 'SEVERE'"
                      [class.info]="topKIncident.scAnomalies[0]?.actualLevel == 'INFO'"
                      class="mr-2">{{topKIncident.scAnomalies[0]?.actualLevel}}
             </span>
                    </div>
                    <div class="offset-md-1 col-md-11" style="font-weight: 600; font-size: 14px">
                      <app-ad-banner [row]="topKIncident.scAnomalies[0]"></app-ad-banner>
                    </div>
                    <div class="row offset-md-1 details">
                      <span class="pr-2"><button nbButton style="background-color: #6f5b5c; color: white" disabled
                                                 status='danger' shape="round" size="tiny"><nb-icon
                        icon="cube"></nb-icon>
                        {{topKIncident?.appName.split('_').slice(1, topKIncident?.appName.split('_').length
                          - 1).join(' ')}}</button></span>
                      <span *ngIf="topKIncident?.scAnomalies?.length==0" class="pr-2"> <button nbButton
                                                                                               style="background-color: #6f5b5c; color: white"
                                                                                               disabled
                                                                                               status='danger'
                                                                                               shape="round"
                                                                                               size="tiny"><nb-icon
                        icon="alert-triangle"></nb-icon>
                        {{topKIncident?.scAnomalies?.length}} critical event(s) </button></span>
                      <span *ngIf="topKIncident?.scAnomalies?.length>0" class="pr-2"> <button nbButton
                                                                                              style="background-color: #ff3d71; color: white"
                                                                                              disabled status='danger'
                                                                                              shape="round"
                                                                                              size="tiny"><nb-icon
                        icon="alert-triangle"></nb-icon>
                        {{topKIncident?.scAnomalies?.length}} critical event(s) </button></span>

                      <span *ngIf="topKIncident?.semanticAD?.length==0" class="pr-2"><button nbButton
                                                                                             style="background-color: #6f5b5c; color: white"
                                                                                             disabled status='danger'
                                                                                             shape="round"
                                                                                             size="tiny"><nb-icon
                        icon="alert-circle"></nb-icon>
                        {{topKIncident?.semanticAD?.length}} cognitive anomalies</button></span>
                      <span *ngIf="topKIncident?.semanticAD?.length>0" class="pr-2"><button nbButton
                                                                                            style="background-color: #ff3d71; color: white"
                                                                                            disabled status='danger'
                                                                                            shape="round" size="tiny"><nb-icon
                        icon="alert-circle"></nb-icon>
                        {{topKIncident?.semanticAD?.length}} cognitive anomalies</button></span>

                      <span *ngIf="topKIncident?.countAD?.length>0" class="pr-2"><button nbButton
                                                                                         style="background-color: #ff3d71; color: white"
                                                                                         disabled status='danger'
                                                                                         shape="round" size="tiny"><nb-icon
                        icon="flip-2"></nb-icon>
                        {{topKIncident?.countAD?.length}} flow anomalies</button></span>
                      <span *ngIf="topKIncident?.countAD?.length==0" class="pr-2"><button nbButton
                                                                                          style="background-color: #6f5b5c; color: white"
                                                                                          disabled status='danger'
                                                                                          shape="round" size="tiny"><nb-icon
                        icon="flip-2"></nb-icon>
                        {{topKIncident?.countAD?.length}} flow anomalies</button></span>

                      <span *ngIf="topKIncident?.newTemplates?.length>0" class="pr-2"><button nbButton
                                                                                              style="background-color: #ff3d71; color: white"
                                                                                              disabled status='danger'
                                                                                              shape="round"
                                                                                              size="tiny"><nb-icon
                        icon="bulb"></nb-icon>
                        {{topKIncident?.newTemplates?.length}} new log types</button></span>
                      <span *ngIf="topKIncident?.newTemplates?.length==0" class="pr-2"><button nbButton
                                                                                               style="background-color: #6f5b5c; color: white"
                                                                                               disabled
                                                                                               status='danger'
                                                                                               shape="round"
                                                                                               size="tiny"><nb-icon
                        icon="bulb"></nb-icon>
                        {{topKIncident?.newTemplates?.length}} new log types</button></span>
                      <span class="pr-2"><button nbButton style="background-color: #6f5b5c; color: white" disabled
                                                 shape="round" size="tiny"><nb-icon icon="clock"></nb-icon>
                        {{moment(topKIncident?.startTimestamp)}}</button></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1 center">
                <button style="text-transform: none" nbButton
                        (click)="viewDetails(topKIncident.startTimestamp, topKIncident.stopTimestamp, topKIncident.applicationId)"
                        status='basic' shape="round" size="medium"> View details
                </button>
              </div>
            </div>
          </ng-container>

          <!--semanticAD-->
          <ng-container *ngIf="topKIncident.semanticAD.length > 0 && topKIncident?.scAnomalies.length == 0">
            <div class="row">

              <div class="col-md-11">
                <div *ngIf="topKIncident.semanticAD.length > 1">

                  <div class="main-row">
                    <div class="row parent">
                      <div class="col-md-1">
                 <span style="float: left; color: yellow;font-weight: 600; font-size: 14px"
                       [class.error]="topKIncident.semanticAD[0]?.actualLevel == 'ERROR'"
                       [class.severe]="topKIncident.semanticAD[0]?.actualLevel == 'SEVERE'"
                       [class.info]="topKIncident.semanticAD[0]?.actualLevel == 'INFO'"
                       class="mr-2">{{topKIncident.semanticAD[0]?.actualLevel}}</span>
                      </div>
                      <div class="col-md-11" style="font-weight: 600; font-size: 14px">
                        <app-ad-banner [row]="topKIncident.semanticAD[0]"></app-ad-banner>
                      </div>
                    </div>
                    <div class="row parent">
                      <div class="col-md-1">
                   <span style="float: left; color: yellow;font-size: 14px; font-weight: 600;"
                         [class.error]="topKIncident.semanticAD[topKIncident.semanticAD.length-1]?.actualLevel == 'ERROR'"
                          [class.severe]="topKIncident.semanticAD[topKIncident.semanticAD.length-1]?.actualLevel == 'SEVERE'"
                         [class.info]="topKIncident.semanticAD[topKIncident.semanticAD.length-1]?.actualLevel == 'INFO'"
                         class="mr-2">
                {{topKIncident.semanticAD[topKIncident.semanticAD.length - 1]?.actualLevel}}</span>
                      </div>
                      <div class="col-md-11" style="font-weight: 600; font-size: 14px">
                        <app-ad-banner
                          [row]="topKIncident.semanticAD[topKIncident.semanticAD.length - 1]"></app-ad-banner>
                      </div>
                    </div>
                    <div class="row offset-md-1 details">
                      <span class="pr-2"><button nbButton style="background-color: #6f5b5c; color: white" disabled
                                                 status='danger' shape="round" size="tiny"><nb-icon
                        icon="cube"></nb-icon>
                        {{topKIncident?.appName.split('_').slice(1, topKIncident?.appName.split('_').length
                          - 1).join(' ')}}</button></span>
                      <span *ngIf="topKIncident?.scAnomalies?.length==0" class="pr-2"> <button nbButton
                                                                                               style="background-color: #6f5b5c; color: white"
                                                                                               disabled
                                                                                               status='danger'
                                                                                               shape="round"
                                                                                               size="tiny"><nb-icon
                        icon="alert-triangle"></nb-icon>
                        {{topKIncident?.scAnomalies?.length}} critical event(s) </button></span>
                      <span *ngIf="topKIncident?.scAnomalies?.length>0" class="pr-2"> <button nbButton
                                                                                              style="background-color: #ff3d71; color: white"
                                                                                              disabled status='danger'
                                                                                              shape="round"
                                                                                              size="tiny"><nb-icon
                        icon="alert-triangle"></nb-icon>
                        {{topKIncident?.scAnomalies?.length}} critical event(s) </button></span>

                      <span *ngIf="topKIncident?.semanticAD?.length==0" class="pr-2"><button nbButton
                                                                                             style="background-color: #6f5b5c; color: white"
                                                                                             disabled status='danger'
                                                                                             shape="round"
                                                                                             size="tiny"><nb-icon
                        icon="alert-circle"></nb-icon>
                        {{topKIncident?.semanticAD?.length}} cognitive anomalies</button></span>
                      <span *ngIf="topKIncident?.semanticAD?.length>0" class="pr-2"><button nbButton
                                                                                            style="background-color: #ff3d71; color: white"
                                                                                            disabled status='danger'
                                                                                            shape="round" size="tiny"><nb-icon
                        icon="alert-circle"></nb-icon>
                        {{topKIncident?.semanticAD?.length}} cognitive anomalies</button></span>

                      <span *ngIf="topKIncident?.countAD?.length>0" class="pr-2"><button nbButton
                                                                                         style="background-color: #ff3d71; color: white"
                                                                                         disabled status='danger'
                                                                                         shape="round" size="tiny"><nb-icon
                        icon="flip-2"></nb-icon>
                        {{topKIncident?.countAD?.length}} flow anomalies</button></span>
                      <span *ngIf="topKIncident?.countAD?.length==0" class="pr-2"><button nbButton
                                                                                          style="background-color: #6f5b5c; color: white"
                                                                                          disabled status='danger'
                                                                                          shape="round" size="tiny"><nb-icon
                        icon="flip-2"></nb-icon>
                        {{topKIncident?.countAD?.length}} flow anomalies</button></span>

                      <span *ngIf="topKIncident?.newTemplates?.length>0" class="pr-2"><button nbButton
                                                                                              style="background-color: #ff3d71; color: white"
                                                                                              disabled status='danger'
                                                                                              shape="round"
                                                                                              size="tiny"><nb-icon
                        icon="bulb"></nb-icon>
                        {{topKIncident?.newTemplates?.length}} new log types</button></span>
                      <span *ngIf="topKIncident?.newTemplates?.length==0" class="pr-2"><button nbButton
                                                                                               style="background-color: #6f5b5c; color: white"
                                                                                               disabled
                                                                                               status='danger'
                                                                                               shape="round"
                                                                                               size="tiny"><nb-icon
                        icon="bulb"></nb-icon>
                        {{topKIncident?.newTemplates?.length}} new log types</button></span>
                      <span class="pr-2"><button nbButton style="background-color: #6f5b5c; color: white" disabled
                                                 shape="round" size="tiny"><nb-icon icon="clock"></nb-icon>
                        {{moment(topKIncident?.startTimestamp)}}</button></span>
                    </div>
                  </div>
                </div>
                <div *ngIf="topKIncident.semanticAD.length <= 1">
                  <div class="row main-row">
                    <div class="col-md-1">
                <span style="float: left; color: yellow;font-weight: 600; font-size: 14px"
                      [class.error]="topKIncident.semanticAD[0]?.actualLevel == 'ERROR'"
                      [class.severe]="topKIncident.semanticAD[0]?.actualLevel == 'SEVERE'"
                      [class.info]="topKIncident.semanticAD[0]?.actualLevel == 'INFO'"
                      class="mr-2">{{topKIncident.semanticAD[0]?.actualLevel}}
             </span>
                    </div>
                    <div class="offset-md-1 col-md-11" style="font-weight: 600; font-size: 14px">
                      <app-ad-banner [row]="topKIncident.semanticAD[0]"></app-ad-banner>
                    </div>
                    <div class="row offset-md-1 details">
                      <span class="pr-2"><button nbButton style="background-color: #6f5b5c; color: white" disabled
                                                 status='danger' shape="round" size="tiny"><nb-icon
                        icon="cube"></nb-icon>
                        {{topKIncident?.appName.split('_').slice(1, topKIncident?.appName.split('_').length
                          - 1).join(' ')}}</button></span>
                      <span *ngIf="topKIncident?.scAnomalies?.length==0" class="pr-2"> <button nbButton
                                                                                               style="background-color: #6f5b5c; color: white"
                                                                                               disabled
                                                                                               status='danger'
                                                                                               shape="round"
                                                                                               size="tiny"><nb-icon
                        icon="alert-triangle"></nb-icon>
                        {{topKIncident?.scAnomalies?.length}} critical event(s) </button></span>
                      <span *ngIf="topKIncident?.scAnomalies?.length>0" class="pr-2"> <button nbButton
                                                                                              style="background-color: #ff3d71; color: white"
                                                                                              disabled status='danger'
                                                                                              shape="round"
                                                                                              size="tiny"><nb-icon
                        icon="alert-triangle"></nb-icon>
                        {{topKIncident?.scAnomalies?.length}} critical event(s) </button></span>

                      <span *ngIf="topKIncident?.semanticAD?.length==0" class="pr-2"><button nbButton
                                                                                             style="background-color: #6f5b5c; color: white"
                                                                                             disabled status='danger'
                                                                                             shape="round"
                                                                                             size="tiny"><nb-icon
                        icon="alert-circle"></nb-icon>
                        {{topKIncident?.semanticAD?.length}} cognitive anomalies</button></span>
                      <span *ngIf="topKIncident?.semanticAD?.length>0" class="pr-2"><button nbButton
                                                                                            style="background-color: #ff3d71; color: white"
                                                                                            disabled status='danger'
                                                                                            shape="round" size="tiny"><nb-icon
                        icon="alert-circle"></nb-icon>
                        {{topKIncident?.semanticAD?.length}} cognitive anomalies</button></span>

                      <span *ngIf="topKIncident?.countAD?.length>0" class="pr-2"><button nbButton
                                                                                         style="background-color: #ff3d71; color: white"
                                                                                         disabled status='danger'
                                                                                         shape="round" size="tiny"><nb-icon
                        icon="flip-2"></nb-icon>
                        {{topKIncident?.countAD?.length}} flow anomalies</button></span>
                      <span *ngIf="topKIncident?.countAD?.length==0" class="pr-2"><button nbButton
                                                                                          style="background-color: #6f5b5c; color: white"
                                                                                          disabled status='danger'
                                                                                          shape="round" size="tiny"><nb-icon
                        icon="flip-2"></nb-icon>
                        {{topKIncident?.countAD?.length}} flow anomalies</button></span>

                      <span *ngIf="topKIncident?.newTemplates?.length>0" class="pr-2"><button nbButton
                                                                                              style="background-color: #ff3d71; color: white"
                                                                                              disabled status='danger'
                                                                                              shape="round"
                                                                                              size="tiny"><nb-icon
                        icon="bulb"></nb-icon>
                        {{topKIncident?.newTemplates?.length}} new log types</button></span>
                      <span *ngIf="topKIncident?.newTemplates?.length==0" class="pr-2"><button nbButton
                                                                                               style="background-color: #6f5b5c; color: white"
                                                                                               disabled
                                                                                               status='danger'
                                                                                               shape="round"
                                                                                               size="tiny"><nb-icon
                        icon="bulb"></nb-icon>
                        {{topKIncident?.newTemplates?.length}} new log types</button></span>
                      <span class="pr-2"><button nbButton style="background-color: #6f5b5c; color: white" disabled
                                                 shape="round" size="tiny"><nb-icon icon="clock"></nb-icon>
                        {{moment(topKIncident?.startTimestamp)}}</button></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1 center">
                <button style="text-transform: none" nbButton
                        (click)="viewDetails(topKIncident.startTimestamp, topKIncident.stopTimestamp, topKIncident.applicationId)"
                        status='basic' shape="round" size="medium"> View details
                </button>
              </div>
            </div>
          </ng-container>

          <ng-container
            *ngIf="topKIncident.newTemplates.length > 0 && topKIncident?.scAnomalies.length == 0 && topKIncident?.semanticAD.length == 0">
            <div class="row">
              <div class="col-md-1 center">
                <button style="text-transform: none" nbButton
                        (click)="viewDetails(topKIncident.startTimestamp, topKIncident.stopTimestamp, topKIncident.applicationId)"
                        status='danger' shape="round" size="tiny"> View details
                </button>
              </div>
              <div class="col-md-11">
                <div *ngIf="topKIncident.newTemplates.length > 1">
                  <div class="main-row">
                    <div class="row parent">
                      <div class="col-md-1">
                 <span style="float: left; color: yellow;font-weight: 600; font-size: 14px"
                       [class.error]="topKIncident.newTemplates[0]?.actualLevel == 'ERROR'"
                       [class.severe]="topKIncident.newTemplates[0]?.actualLevel == 'SEVERE'"
                       [class.info]="topKIncident.newTemplates[0]?.actualLevel == 'INFO'"
                       class="mr-2">{{topKIncident.newTemplates[0]?.actualLevel}}</span>
                      </div>
                      <div class="col-md-11" style="font-weight: 600; font-size: 14px">
                        <app-ad-banner [row]="topKIncident.newTemplates[0]"></app-ad-banner>
                      </div>
                    </div>
                    <div class="row parent">
                      <div class="col-md-1">
                   <span style="float: left; color: yellow;font-weight: 600; font-size: 14px"
                         [class.error]="topKIncident.newTemplates[topKIncident.newTemplates.length-1]?.actualLevel == 'ERROR'"
                         [class.severe]="topKIncident.newTemplates[topKIncident.newTemplates.length-1]?.actualLevel == 'SEVERE'"
                         [class.info]="topKIncident.newTemplates[topKIncident.newTemplates.length-1]?.actualLevel == 'INFO'"
                         class="mr-2">
                {{topKIncident.newTemplates[topKIncident.newTemplates.length - 1]?.actualLevel}}</span>
                      </div>
                      <div class="col-md-11" style="font-weight: 600; font-size: 14px">
                        <app-ad-banner
                          [row]="topKIncident.newTemplates[topKIncident.newTemplates.length - 1]"></app-ad-banner>
                      </div>
                    </div>
                    <div class="row offset-md-1 details">
                      <span class="pr-2"><button nbButton style="background-color: #6f5b5c; color: white" disabled
                                                 status='danger' shape="round" size="tiny"><nb-icon
                        icon="cube"></nb-icon>
                        {{topKIncident?.appName.split('_').slice(1, topKIncident?.appName.split('_').length
                          - 1).join(' ')}}</button></span>
                      <span *ngIf="topKIncident?.scAnomalies?.length==0" class="pr-2"> <button nbButton
                                                                                               style="background-color: #6f5b5c; color: white"
                                                                                               disabled
                                                                                               status='danger'
                                                                                               shape="round"
                                                                                               size="tiny"><nb-icon
                        icon="alert-triangle"></nb-icon>
                        {{topKIncident?.scAnomalies?.length}} critical event(s) </button></span>
                      <span *ngIf="topKIncident?.scAnomalies?.length>0" class="pr-2"> <button nbButton
                                                                                              style="background-color: #ff3d71; color: white"
                                                                                              disabled status='danger'
                                                                                              shape="round"
                                                                                              size="tiny"><nb-icon
                        icon="alert-triangle"></nb-icon>
                        {{topKIncident?.scAnomalies?.length}} critical event(s) </button></span>

                      <span *ngIf="topKIncident?.semanticAD?.length==0" class="pr-2"><button nbButton
                                                                                             style="background-color: #6f5b5c; color: white"
                                                                                             disabled status='danger'
                                                                                             shape="round"
                                                                                             size="tiny"><nb-icon
                        icon="alert-circle"></nb-icon>
                        {{topKIncident?.semanticAD?.length}} cognitive anomalies</button></span>
                      <span *ngIf="topKIncident?.semanticAD?.length>0" class="pr-2"><button nbButton
                                                                                            style="background-color: #ff3d71; color: white"
                                                                                            disabled status='danger'
                                                                                            shape="round" size="tiny"><nb-icon
                        icon="alert-circle"></nb-icon>
                        {{topKIncident?.semanticAD?.length}} cognitive anomalies</button></span>

                      <span *ngIf="topKIncident?.countAD?.length>0" class="pr-2"><button nbButton
                                                                                         style="background-color: #ff3d71; color: white"
                                                                                         disabled status='danger'
                                                                                         shape="round" size="tiny"><nb-icon
                        icon="flip-2"></nb-icon>
                        {{topKIncident?.countAD?.length}} flow anomalies</button></span>
                      <span *ngIf="topKIncident?.countAD?.length==0" class="pr-2"><button nbButton
                                                                                          style="background-color: #6f5b5c; color: white"
                                                                                          disabled status='danger'
                                                                                          shape="round" size="tiny"><nb-icon
                        icon="flip-2"></nb-icon>
                        {{topKIncident?.countAD?.length}} flow anomalies</button></span>

                      <span *ngIf="topKIncident?.newTemplates?.length>0" class="pr-2"><button nbButton
                                                                                              style="background-color: #ff3d71; color: white"
                                                                                              disabled status='danger'
                                                                                              shape="round"
                                                                                              size="tiny"><nb-icon
                        icon="bulb"></nb-icon>
                        {{topKIncident?.newTemplates?.length}} new log types</button></span>
                      <span *ngIf="topKIncident?.newTemplates?.length==0" class="pr-2"><button nbButton
                                                                                               style="background-color: #6f5b5c; color: white"
                                                                                               disabled
                                                                                               status='danger'
                                                                                               shape="round"
                                                                                               size="tiny"><nb-icon
                        icon="bulb"></nb-icon>
                        {{topKIncident?.newTemplates?.length}} new log types</button></span>
                      <span class="pr-2"><button nbButton style="background-color: #6f5b5c; color: white" disabled
                                                 shape="round" size="tiny"><nb-icon icon="clock"></nb-icon>
                        {{moment(topKIncident?.startTimestamp)}}</button></span>
                    </div>
                  </div>

                </div>
                <div *ngIf="topKIncident.newTemplates.length <= 1">
                  <div class="row main-row">
                    <div class="col-md-1">
                <span style="float: left;  color: yellow;font-weight: 600; font-size: 14px"
                      [class.error]="topKIncident.newTemplates[0]?.actualLevel == 'ERROR'"
                      [class.severe]="topKIncident.newTemplates[0]?.actualLevel == 'SEVERE'"
                      [class.info]="topKIncident.newTemplates[0]?.actualLevel == 'INFO'"
                      class="mr-2">{{topKIncident.newTemplates[0]?.actualLevel}}
             </span>
                    </div>
                    <div class="offset-md-1 col-md-11" style="font-weight: 600; font-size: 14px">
                      <app-ad-banner [row]="topKIncident.newTemplates[0]"></app-ad-banner>
                    </div>
                    <div class="row offset-md-1 details">
                      <span class="pr-2"><button nbButton style="background-color: #6f5b5c; color: white" disabled
                                                 status='danger' shape="round" size="tiny"><nb-icon
                        icon="cube"></nb-icon>
                        {{topKIncident?.appName.split('_').slice(1, topKIncident?.appName.split('_').length
                          - 1).join(' ')}}</button></span>
                      <span *ngIf="topKIncident?.scAnomalies?.length==0" class="pr-2"> <button nbButton
                                                                                               style="background-color: #6f5b5c; color: white"
                                                                                               disabled
                                                                                               status='danger'
                                                                                               shape="round"
                                                                                               size="tiny"><nb-icon
                        icon="alert-triangle"></nb-icon>
                        {{topKIncident?.scAnomalies?.length}} critical event(s) </button></span>
                      <span *ngIf="topKIncident?.scAnomalies?.length>0" class="pr-2"> <button nbButton
                                                                                              style="background-color: #ff3d71; color: white"
                                                                                              disabled status='danger'
                                                                                              shape="round"
                                                                                              size="tiny"><nb-icon
                        icon="alert-triangle"></nb-icon>
                        {{topKIncident?.scAnomalies?.length}} critical event(s) </button></span>

                      <span *ngIf="topKIncident?.semanticAD?.length==0" class="pr-2"><button nbButton
                                                                                             style="background-color: #6f5b5c; color: white"
                                                                                             disabled status='danger'
                                                                                             shape="round"
                                                                                             size="tiny"><nb-icon
                        icon="alert-circle"></nb-icon>
                        {{topKIncident?.semanticAD?.length}} cognitive anomalies</button></span>
                      <span *ngIf="topKIncident?.semanticAD?.length>0" class="pr-2"><button nbButton
                                                                                            style="background-color: #ff3d71; color: white"
                                                                                            disabled status='danger'
                                                                                            shape="round" size="tiny"><nb-icon
                        icon="alert-circle"></nb-icon>
                        {{topKIncident?.semanticAD?.length}} cognitive anomalies</button></span>

                      <span *ngIf="topKIncident?.countAD?.length>0" class="pr-2"><button nbButton
                                                                                         style="background-color: #ff3d71; color: white"
                                                                                         disabled status='danger'
                                                                                         shape="round" size="tiny"><nb-icon
                        icon="flip-2"></nb-icon>
                        {{topKIncident?.countAD?.length}} flow anomalies</button></span>
                      <span *ngIf="topKIncident?.countAD?.length==0" class="pr-2"><button nbButton
                                                                                          style="background-color: #6f5b5c; color: white"
                                                                                          disabled status='danger'
                                                                                          shape="round" size="tiny"><nb-icon
                        icon="flip-2"></nb-icon>
                        {{topKIncident?.countAD?.length}} flow anomalies</button></span>

                      <span *ngIf="topKIncident?.newTemplates?.length>0" class="pr-2"><button nbButton
                                                                                              style="background-color: #ff3d71; color: white"
                                                                                              disabled status='danger'
                                                                                              shape="round"
                                                                                              size="tiny"><nb-icon
                        icon="bulb"></nb-icon>
                        {{topKIncident?.newTemplates?.length}} new log types</button></span>
                      <span *ngIf="topKIncident?.newTemplates?.length==0" class="pr-2"><button nbButton
                                                                                               style="background-color: #6f5b5c; color: white"
                                                                                               disabled
                                                                                               status='danger'
                                                                                               shape="round"
                                                                                               size="tiny"><nb-icon
                        icon="bulb"></nb-icon>
                        {{topKIncident?.newTemplates?.length}} new log types</button></span>
                      <span class="pr-2"><button nbButton style="background-color: #6f5b5c; color: white" disabled
                                                 shape="round" size="tiny"><nb-icon icon="clock"></nb-icon>
                        {{moment(topKIncident?.startTimestamp)}}</button></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1 center">
                <button style="text-transform: none" nbButton
                        (click)="viewDetails(topKIncident.startTimestamp, topKIncident.stopTimestamp, topKIncident.applicationId)"
                        status='basic' shape="round" size="medium"> View details
                </button>
              </div>
            </div>
          </ng-container>
          <hr noshade="true">
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
<ng-template #dateTimePicker>
  <elastic-custom-datepicker (search)="onDateTimeSearch($event)"
                             (savePredefinedTime)="onSavePredefinedTime($event)">
  </elastic-custom-datepicker>
</ng-template>
