<div class="logo" style="padding-left: 40px">
  <a class="navbar-brand title" href="#"><img alt="logo" height="60" src="assets/img/logol.png"/></a>
</div>
<div *ngIf="!isEmailSent" style="color: #013b54; font-size: 18px; font-weight: 600">Resend activation link</div>
<br>
<form (submit)="onResendActivation()" *ngIf="!isEmailSent" [formGroup]="form" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="email"></label>
    <input [attr.aria-invalid]="form.invalid && form.touched ? true : null"
           [required]="true"
           autofocus
           class="form-control"
           class="form-control"
           formControlName="email"
           fullWidth
           id="email"
           pattern=".+@.+\..+"
           placeholder="Enter your email"
           style="height: 3.5rem; text-align: left;"
           type="email">
    <ng-container *ngIf="form.controls['email'].invalid && form.touched">
      <!--      <p class="error-message" *ngIf="form.controls['email'].errors?.required">-->
      <!--        Email is required!-->
      <!--      </p>-->
      <p *ngIf="form.controls['email'].errors?.pattern" class="error-message" style="color: black">
        Email is invalid!
      </p>
    </ng-container>
    <ng-container *ngIf="emailNotFound">
      <!--      <p class="error-message" *ngIf="form.controls['email'].errors?.required">-->
      <!--        Email is required!-->
      <!--      </p>-->
      <p class="error-message" style="color: black">
        User with the requested email does not exist or not activated.
      </p>
    </ng-container>

  </div>

  <button *ngIf="!isSpinning" [disabled]="!form.valid"
          class="btn btn-primary mb-0"
          fullWidth
          status="info"

          style="text-transform: none; background-color: #4154f1; width: 100%; height: 3.5rem">
    Reset password
  </button>

  <div *ngIf="isSpinning" class="spinner-border text-primary" role="status" style="left: 50%; position: relative">
  </div>

</form>

<section aria-label="Register" class="another-action" style="color: #013b54;">
  <p *ngIf="!isEmailSent">Already have your account activated? <a class="text-link" routerLink="/auth/login">Login</a>
  </p>
  <p *ngIf="!isEmailSent">Don't have an account? <a class="text-link" routerLink="/auth/register">Sign Up</a></p>
  <div *ngIf="isEmailSent" style="color: #013b54; font-size: 18px; font-weight: 600">An email with the new password was
    sent. Go to the <a class="text-link" routerLink="/auth/login">Login</a> page.
  </div>
</section>
