<p-table
    #overviewTable
    [value]="items"
    [(selection)]="selectedItems"
    dataKey="verificationId"
    [paginator]="true"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [rows]="rowsPerPageOptions[0]"
    sortMode="multiple">
    <ng-template pTemplate="caption">
        <div class="table-header d-flex justify-content-between align-items-center">
            <h2>Overview</h2>
            <div>
                <button
                    pButton
                    type="button"
                    label="Delete"
                    class="p-button-danger"
                    icon="pi pi-trash"
                    [disabled]="selectedItems.length === 0"
                    (click)="deleteItems()">
                </button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 5%;" rowspan="2">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="width: 15%" [pSortableColumn]="'date'">Date <p-sortIcon [field]="'date'"></p-sortIcon> </th>
            <th style="width: 17.5%" [pSortableColumn]="'applicationName'">Application <p-sortIcon [field]="'applicationName'"></p-sortIcon></th>
            <th style="width: 15%" [pSortableColumn]="'verificationId'">Verification ID <p-sortIcon [field]="'verificationId'"></p-sortIcon></th>
            <th style="width: 10%">Baseline tags</th>
            <th style="width: 10%">Candidate tags</th>
            <th style="width: 7.5%" [pSortableColumn]="'risk'">Risk <p-sortIcon [field]="'risk'"></p-sortIcon></th>
            <th style="width: 10%" [pSortableColumn]="'severity'">Severity <p-sortIcon [field]="'severity'"></p-sortIcon></th>
            <th style="width: 10%" [pSortableColumn]="'status'">Status <p-sortIcon [field]="'status'"></p-sortIcon></th>
        </tr>
        <tr>
            <th>
                <p-calendar
                    (onSelect)="filterByDate($event)"
                    (onClearClick)="filterByDate('')"
                    [showButtonBar]="true"
                    styleClass="p-column-filter"
                    placeholder="Search by Date"
                    [readonlyInput]="true"
                    dateFormat="mm/dd/yy">
                </p-calendar>
            </th>
            <th>
                <input
                    pInputText
                    type="text"
                    (input)="filterByApplicationName($event)"
                    placeholder="Search by Application name"
                    class="p-column-filter">
            </th>
            <th>
                <input
                    pInputText
                    type="text"
                    (input)="filterByVerificationId($event)"
                    placeholder="Search by VerificationId"
                    class="p-column-filter">
            </th>
            <th>
                <p-multiSelect [options]="tagOptions" (onChange)="filterByBaselineTags($event)" [filter]="true"></p-multiSelect>
            </th>
            <th>
                <p-multiSelect [options]="tagOptions" (onChange)="filterByCandidateTags($event)" [filter]="true"></p-multiSelect>
            </th>
            <th>
                <p-slider [ngModel]="[0, 100]" [min]="0" max="100" [range]="true" (onSlideEnd)="filterByRisk($event)"></p-slider>
            </th>
            <th>
                <p-dropdown
                    [options]="severityOptions"
                    (onChange)="filterBySeverity($event)"
                    styleClass="p-column-filter"
                    placeholder="Select a Severity"
                    [showClear]="true">
                    <ng-template let-option pTemplate="item">
                        <span [class]="'severity-badge severity-' + option.label">{{option.label}}</span>
                    </ng-template>
                </p-dropdown>
            </th>
            <th>
                <p-dropdown
                    [options]="statusOptions"
                    (onChange)="filterByStatus($event)"
                    styleClass="p-column-filter"
                    placeholder="Select a Status"
                    [showClear]="true">
                    <ng-template let-option pTemplate="item">
                        <span>{{option.label}}</span>
                    </ng-template>
                </p-dropdown>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-rowIndex>
        <tr>
            <td>
                <p-tableCheckbox [value]="item"></p-tableCheckbox>
            </td>
            <td>{{item.date | date: 'MM/dd/YYYY HH:mm:ss'}}</td>
            <td>{{item.applicationName}}</td>
            <td>{{item.verificationId}}</td>
            <td>
                <span *ngFor="let tag of item.baselineTags" class="tag">{{ tag }}</span>
            </td>
            <td>
                <span *ngFor="let tag of item.candidateTags" class="tag">{{ tag }}</span>
            </td>
            <td>
                {{ item.risk }} %
            </td>
            <td>
                <span [class]="'severity-badge severity-' + Severity[item.severity]">{{ Severity[item.severity] }}</span>
            </td>
            <td>
                <p-dropdown
                    [options]="statusOptions"
                    [ngModel]="{ value: item.status }"
                    (onChange)="statusChanged($event, item)"
                    dataKey="value"
                    optionLabel="label">
                </p-dropdown>
            </td>
        </tr>
    </ng-template>
</p-table>
