<div class="row" style="padding-left: 5%;padding-right: 5%">
  <div class="col-md-6 p-0 mb-4">
    <nb-select class="period-select col-md-4 pl-3" [(selected)]="this.applicationId"
               (selectedChange)="applicationSelected($event)"
               placeholder="Select application">
      <nb-option [value]="0">All</nb-option>
      <nb-option *ngFor="let app of applications" [value]="app.id" [nbSort]="app.name">
        {{ app.name }}
      </nb-option>
    </nb-select>

    <button nbButton shape="round" size="small" style="text-transform: none" [nbSpinner]="isSpinning" nbSpinnerStatus="basic" (click)="computeLogQuality()" >LogQuality</button>
  </div>

  <div class="col-md-6 text-right">
    <div style="width: 100%;" class="text-right">
      <button title="Select Date Range" [nbPopover]="dateTimePicker" nbPopoverPlacement="bottom" nbButton
              (click)="openPopover()" size="small" shape="round"
              nbPopoverTrigger="noop"><i class="fa fa-calendar"></i></button>
    </div>
  </div>
</div>

<!--<div class="col-lg-12" style="padding-left: 5%;padding-right: 5%" tourAnchor="anchorIncidentsTab">-->
<!--  <h5 style="font-weight: 600">Incidents</h5>-->
<!--  <chart-heatmap [heatmapHeight]="heatmapHeight" [data]="heatmapData"></chart-heatmap>-->
<!--</div>-->




<div class="row" style="padding-left: 5%;padding-right: 5%;">
  <div class="col">
  <h6 style="font-weight: 600">Quality Overview
    <nb-icon icon="info-outline"
             nbTooltip="Critical anomalies are most severe. It means that they are deviating from the normal service execution flow (or are new log messages) and in the same time are recognized as cognitive anomalies by our deep network."
             nbTooltipStatus="basic" nbButton status="basic"></nb-icon>
  </h6>
  <nb-card>
    <nb-card-body>
<div class="col">

<div class="row" style="height: 200px; text-align: center">

<!--<div class="col-sm">-->
<!--  <h5 style="font-weight: 600">Overall log quality-->
<!--    <nb-icon icon="info-outline"-->
<!--             nbTooltip="Log quality tooltip"-->
<!--             nbTooltipStatus="basic" nbButton status="basic"></nb-icon>-->
<!--  </h5>-->
<!--  <ngx-gauge class="reading-block" [type]="gaugeType"-->
<!--         [value]="gaugeTypeOverall"-->
<!--         [label]="''"-->
<!--             [size]="150"-->
<!--         [append]="gaugeAppendText"-->
<!--         [thresholds]="thresholdConfigLogLevel"-->
<!--         backgroundColor="#FFE5E5FF"-->
<!--         [thick]="15">-->
<!--</ngx-gauge>-->
<!--</div>-->
<div class="col-sm" tourAnchor="anchorLogLevelDistribution">
  <h6 style="font-weight: 600; text-align: center">Log level quality
    <nb-icon icon="info-outline"
             nbTooltip="Log level quality represents the trustworthiness of the system logs, regarding their log levels. For example logging a message as INFO, if in reality is ERROR makes troubleshooting more difficult!"
             nbTooltipStatus="basic" nbButton status="basic"></nb-icon>
  </h6>
  <ngx-gauge class="reading-block" [type]="gaugeType"
         [value]="gaugeTypeLogLevel"
         [label]="''"
             [size]="150"
         [append]="gaugeAppendText"
         [animate]="true"
         [thresholds]="thresholdConfigLogLevel"
         backgroundColor="#FFE5E5FF"
         [thick]="15">
</ngx-gauge>
</div>

<div class="col-sm" tourAnchor="anchorCognitiveAnomalies">
  <h6 style="font-weight: 600">Linguistic quality
    <nb-icon icon="info-outline"
             nbTooltip="Log messages need to be written correctly. The linguistic quality represents a score of how good or bad a log message is written in terms of the readability and meaning"
             nbTooltipStatus="basic" nbButton status="basic"></nb-icon>
  </h6>
  <ngx-gauge class="reading-block" [type]="gaugeType"
         [value]="gaugeTypeLinguistic"
             [size]="150"
         [label]="''"
         [append]="gaugeAppendText"
         [animate]="true"
         [thresholds]="thresholdConfigLogLevel"
         backgroundColor="#FFE5E5FF"
         [thick]="15">
</ngx-gauge>
</div>
</div>

          <div class="scrollable" style="padding-left: 5%; padding-right: 5%; text-align: center">
            <table class="table table-striped table-borderless">
              <thead>
              <tr>
                <th
                    style="width: 20%" scope="col">Application
                </th>
<!--                <th-->
<!--                    style="width: 20%" scope="col">Score-->
<!--                </th>-->


                <th
                    style="width: 20%" scope="col">Level score
                </th>
                <th style="width: 20%" scope="col">Linguistic score</th>
                <th style="width: 20%" scope="col"># Log types</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of tableData; let i = index">

                <td>
                {{row.key}}
                </td>
<!--                <td>{{(row.linguisticPrediction + row.logLevelScore)/2}}</td>-->


                <td>
                {{row.logLevelScore}}
                </td>

                <td>
                  {{row.linguisticPrediction}}
                </td>

                <td>
                {{row.docCount}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
    </div>


<div  class="row" style="padding-left: 5%;padding-right: 5%">

  <div class="col">
    <h6 style="font-weight: 600">Log level analysis
    </h6>
    <nb-card>
      <nb-card-body>
 <div class="col-lg-12 p-0">
          <div class="scrollable" style="height: 500px">
            <ng-scrollbar>
            <table *ngIf="logLevelData.length == 0" style="text-align: center; justify-content: center; align-items: center; margin-top:50px">
                <p>The log levels in your logs are very good! Good job!</p>
                <i class="fas fa-check-circle fa-10x"></i>
              </table>


            <table *ngIf="logLevelData.length > 0" class="table table-striped table-borderless">
              <thead>
              <tr>
                <th style="width: 2%" scope="col"></th>
                <th [appSort]="logLevelData" data-order="desc" data-name="timestamp" class="clickable"
                    style="width: 18%" scope="col">Timestamp
                </th>

                <th [appSort]="logLevelData" data-order="desc" data-name="actualLevel" class="clickable"
                    style="width: 15%" scope="col">Current level
                </th>
               <th style="width: 45%" scope="col">Log message</th>

                <th [appSort]="logLevelData" data-order="desc" data-name="predictedLevel" class="clickable"
                    style="width: 20%" scope="col">Recommended level
                </th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of logLevelData; let i = index">
                <td>{{i + 1}}</td>
                <td>{{row.timestamp}}</td>
                <td>
                <span style="float: left; color: yellow; font-weight: 600;"
                      [class.error]="row.actualLevel == 'ERROR'"
                      [class.info]="row.actualLevel == 'INFO'"
                      class="mr-2">{{row.actualLevel}}</span>
                </td>

                <td>
                  <div style="overflow-y: hidden">
                  <app-ad-banner [row]="row.variableHit"></app-ad-banner>
                  </div>
                </td>

                <td>
                <span style="float: left; color: #CECE00FF; font-weight: 600;"
                      [class.error]="row.predictedLevel == 'ERROR'"
                      [class.info]="row.predictedLevel == 'INFO'"
                      class="mr-2">{{row.predictedLevel}}</span>
                </td>

              </tr>
              </tbody>
            </table>
            </ng-scrollbar>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col">
    <h6 style="font-weight: 600">Linguistic analysis
    </h6>
    <nb-card>
      <nb-card-body>
        <div class="col-lg-12 p-0">
          <div class="scrollable"  style="height: 500px">
            <ng-scrollbar>
            <table *ngIf="linguisticData.length == 0" style="text-align: center; justify-content: center; align-items: center; margin-top:50px">
                <p>The linguistics of your logs is very good! Good job!</p>
                <i class="fas fa-check-circle fa-10x"></i>
              </table>

            <table *ngIf="linguisticData.length > 0" class="table table-striped table-borderless">
              <thead>
              <tr>
                <th style="width: 2%" scope="col"></th>
                <th [appSort]="linguisticData" data-order="desc" data-name="timestamp" class="clickable"
                    style="width: 18%" scope="col">Timestamp
                </th>

                <th [appSort]="linguisticData" data-order="desc" data-name="actualLevel" class="clickable"
                    style="width: 15%" scope="col">Level
                </th>

                <th [appSort]="linguisticData" data-order="desc" data-name="linguisticPrediction" class="clickable"
                    style="width: 15%" scope="col">Score
                </th>

                <th style="width: 45%" scope="col">Log message (Recommendation to re-write)</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of linguisticData; let i = index">
                <td>{{i + 1}}</td>
                <td>{{row.timestamp}}</td>
                <td>
                <span style="float: left; color: yellow; font-weight: 600;"
                      [class.error]="row.actualLevel == 'ERROR'"
                      [class.info]="row.actualLevel == 'INFO'"
                      class="mr-2">{{row.actualLevel}}</span>
                </td>
                <td>
                {{row.linguisticPrediction}}
                </td>

                <td>
<!--                  <div>-->
                  <app-ad-banner [row]="row.variableHit"></app-ad-banner>
<!--                  </div>-->
<!--                  <br>-->
<!--                    <div>-->
<!--                      <p style="color: #CECE00FF">Existing tags: {{row.tags}}</p>-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <p style="color: #CECE00FF">You can improve the quality by modifying your message to contain: {{row.suggestions[0]}}</p>-->
<!--                  </div>-->

                </td>
              </tr>
              </tbody>
            </table>
              </ng-scrollbar>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

</div>


<ng-template #dateTimePicker>
  <elastic-custom-datepicker (search)="onDateTimeSearch($event)"></elastic-custom-datepicker>
</ng-template>
